<div class="header bs bg-bulls t-fff fw-400">
    <div class="header-top px-0 px-2-lg">
        <div class="container-lg px-0">
            <div class="df fdc px-0">
                <div class="logo-container df col-2 pa-lg l-0 t-0 jcsb aic dib-lg mr-0 mr-lg-2 pr-0 z9"> <a href="/"
                        class="logo df aic p-2"> <img src="upload/images/logo/bullsyatirim-light.svg" class="logo-light"
                            alt="logo" draggable="false" /> <img src="upload/images/logo/bullsyatirim-dark.svg"
                            class="logo-dark dn" alt="logo" draggable="false" /> </a>
                    <button type="button" tabindex=1
                        class="menu-triger btn db dn-lg r-0 ra-0 t-f w-auto px-3 my-0 f-1 cp usn ass"> <svg
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 26">
                            <g transform="translate(0 0)" style="fill:#fff;fill-opacity:1;stroke-width:8;">
                                <rect width="32" height="2" x="0" y="2" rx="1.9" ry="1.9" class="first-rect" />
                                <rect width="32" height="2" x="0" y="11" rx="1.9" ry="1.9" class="middle-rect" />
                                <rect width="32" height="2" x="0" y="20" rx="1.9" ry="1.9" class="last-rect" />
                            </g>
                        </svg> </button>
                </div>
                <div class="graphs-container col-12 df fnw fdr-lg jcl tdn py-0 ais jcsb vh or-first or-md-1 usn fix">
                    <div style="width:10rem;" class="kp1 mr-2 dn-mobile dn db-sm">
                    </div> <b class="closex pa r-0 t-0 t-f p-4 db dn-md piyasa-btn">
                    </b>
                    <div class="df jcsb fdc col-auto f1 ais">
                        <ul class="head-graphs col df ais jcsb tc col-12 h-100 mb-0 lsn lh-06">
                            <li class="dfc pl-md-4 py-2 w-75 tl piyasa-btn"> Piyasa Verileri <i
                                    class="fa fa-play fa-rotate-90 pl-2 f-08 dib dn-md">
                                </i> </li>
                            <li class="mrkt">
                                <div class="mrkt-title">
                                    <h3>
                                        <i class="bi bi-caret-up-fill t-s">
                                        </i> BİST 100
                                    </h3> <b>10971,52</b>
                                </div>
                                <div id="" class="graph p-2 wa" alt="XU100">
                                </div>
                            </li>
                            <li class="mrkt">
                                <div class="mrkt-title">
                                    <h3>
                                        <i class="bi bi-caret-up-fill t-s">
                                        </i> USDTRY
                                    </h3> <b>42,0600</b>
                                </div>
                                <div id="" class="graph p-2 wa" alt="USDTRY">
                                </div>
                            </li>
                            <li class="mrkt">
                                <div class="mrkt-title">
                                    <h3>
                                        <i class="bi bi-caret-down-fill t-d">
                                        </i> EURTRY
                                    </h3> <b>48,5136</b>
                                </div>
                                <div id="" class="graph p-2 wa" alt="EURTRY">
                                </div>
                            </li>
                            <li class="mrkt">
                                <div class="mrkt-title">
                                    <h3>
                                        <i class="bi bi-caret-down-fill t-d">
                                        </i> EURUSD
                                    </h3> <b>1,1537</b>
                                </div>
                                <div id="" class="graph p-2 wa" alt="EURUSD">
                                </div>
                            </li>
                            <li class="mrkt">
                                <div class="mrkt-title">
                                    <h3>
                                        <i class="bi bi-caret-down-fill t-d">
                                        </i> AU ONS
                                    </h3> <b>4002,71</b>
                                </div>
                                <div id="" class="graph p-2 wa" alt="XAUUSD">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-container bg-bulls3 col-12 pr-lg usn dn-mobile fw-600 py-3 py-md-0">
        <div class="container-lg">
            <div class="df pr-0">
                <ul class="menu col df fnw jcsb lsn m-0 lh-n tnw">
                    <div class="mobile-search db dn-lg"> <!-- menu search -->
                        <div class="header-search shadow col-10 t-bulls3 pr pt-2 pr-0 col-12">
                            <form action="" method="GET" class="w-100 search-container df fdr fww"> <input type="text"
                                    name="search" class="search-text w-100 fl ttn"
                                    placeholder="Arama yapmak için metin giriniz" required=""> <button type="submit"
                                    class="btn_mobil_search dn">
                                </button> </form> <a class="searchtoggle btn btn-l ra-1 ml-0 z2 f-1 pa">
                                <i class="bi bi-search">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div style="width:8rem;" class="kp1 mr-2">
                    </div>
                    <li class="menu-item">
                        <a href="/" class="">Ana Sayfa</a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="">Hakkımızda <i class="fa fa-play">
                            </i>
                        </a>
                        <ul class="fw-400 px-0">
                            <div class="container-- tl">
                                <div class="df aifs">
                                    <div class="menu_sag col-12 col-lg df fw p-0 ml-0 aic">
                                        <li class="col-12 col-md-4"> <a href="/biz-kimiz">Biz Kimiz</a>
                                        </li>
                                        <li class="col-12 col-md-4"> <a href="/ortaklik-yapisi">Ortaklık
                                                Yapımız</a>
                                        </li>
                                        <li class="col-12 col-md-4"> <a
                                                href="/kurumsal-kisisel-verilerin-korunmasi">Kişisel Verilerin
                                                Korunması</a>
                                        </li>
                                        <li class="col-12 col-md-4"> <a href="/yasal-uyarilar">Yasal Uyarılar</a>
                                        </li>
                                        <li class="col-12 col-md-4"> <a href="sikca-sorulan-sorular">Sıkça
                                                Sorulan
                                                Sorular</a>
                                        </li>
                                        <li class="col-12 col-md-4"> <a href="yatirim-merkezlerimiz">Yatırım
                                                Merkezlerimiz</a>
                                        </li>
                                    </div>
                                    <div class="menu-sub-action col-12 col-lg-3 df fdc fdc-lg jcfs aifs p-3 f-1 ">
                                        <a href="<%= site %>/register"
                                            class="col col-md-5 col-lg-12 bg-bulls b px-3 py-3 py-md-4 py-lg-3 ra-1 mb-3 df fdc jcc tl">
                                            <h3 class="w-100">
                                                <i class="bi bi-collection pr-2">
                                                </i>Yatırım Hesabı
                                                Açın
                                            </h3> <span class="w-100 db f-09">Hemen Hesap Açmak İçin
                                                <br>Tıklayınız</span>
                                        </a> <a href="/gunluk-bulten"
                                            class="col col-md-5 col-lg-12 bg-lb3 t-bulls px-3 py-3 py-md-4 py-lg-3 ra-1 mb-3 df fdc jcc tl">
                                            <h3 class="w-100">
                                                <i class="bi bi-envelope-paper pr-2">
                                                </i> Günlük
                                                Bülten
                                            </h3> <span class="w-100 db f-09">Günlük Bülteni Okumak İçin
                                                Tıklayınız</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="" class="">Hizmetler <i class="fa fa-play">
                            </i>
                        </a>
                        <ul class="fw-400 px-0">
                            <div class="container-- tl">
                                <div class="df aifs">
                                    <div class="menu_sag col-12 col-lg df fw p-0 ml-0 aic">
                                        <li class="col-12 col-md-4"> <a href="yatirim-danismanligi">Yatırım
                                                Danışmanlığı</a>
                                        </li>
                                        <li class="col-12 col-md-4"> <a href="kurumsal-finansman-hizmetleri">Kurumsal
                                                Finansman</a>
                                        </li>
                                        <li class="col-12 col-md-4"> <a href="ucretler-ve-masraflar">Ücretler ve
                                                Masraflar</a>
                                        </li>
                                        <li class="col-12 col-md-4"> <a href="bireysel-portfoy-yonetimi">Bireysel
                                                Portföy Yönetimi</a>
                                        </li>
                                        <li class="col-12 col-md-4"> <a href="/pay-halka-arzlar">Pay Halka
                                                Arzları</a>
                                        </li>
                                        <li class="col-12 col-md-4"> <a
                                                href="/gayrimenkul-sertifikasi-halk-arzlari">Gayrimenkul
                                                Sertifikası Halka Arzları</a>
                                        </li>
                                    </div>
                                    <div class="menu-sub-action col-12 col-lg-3 df fdc fdc-lg jcfs aifs p-3 f-1 ">
                                        <a href="<%= site %>/register"
                                            class="col col-md-5 col-lg-12 bg-bulls b px-3 py-3 py-md-4 py-lg-3 ra-1 mb-3 df fdc jcc tl">
                                            <h3 class="w-100">
                                                <i class="bi bi-collection pr-2">
                                                </i>Yatırım Hesabı
                                                Açın
                                            </h3> <span class="w-100 db f-09">Hemen Hesap Açmak İçin
                                                <br>Tıklayınız</span>
                                        </a> <a href="/gunluk-bulten"
                                            class="col col-md-5 col-lg-12 bg-lb3 t-bulls px-3 py-3 py-md-4 py-lg-3 ra-1 mb-3 df fdc jcc tl">
                                            <h3 class="w-100">
                                                <i class="bi bi-envelope-paper pr-2">
                                                </i> Günlük
                                                Bülten
                                            </h3> <span class="w-100 db f-09">Günlük Bülteni Okumak İçin
                                                Tıklayınız</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="" class="">Canlı Borsa <i class="fa fa-play">
                            </i>
                        </a>
                        <ul class="fw-400 px-0">
                            <div class="container-- tl">
                                <div class="df aifs">
                                    <div class="menu_sag col-12 col-lg df fw p-0 ml-0 aic">
                                        <li class="col-12 col-md-4"> <a href="hisse-analiz">Hisse Analiz
                                                Tablosu</a>
                                        </li>
                                        <li class="col-12 col-md-4"> <a href="hisse-senetleri">Tüm Hisse Senedi
                                                Verileri</a>
                                        </li>
                                        <li class="col-12 col-md-4"> <a href="en-cok-artanlar">Hisse Senedi
                                                Piyasası
                                                En Çok Artanlar</a>
                                        </li>
                                        <li class="col-12 col-md-4"> <a href="en-cok-dusenler">Hisse Senedi
                                                Piyasası
                                                En Çok Azalanlar</a>
                                        </li>
                                        <li class="col-12 col-md-4"> <a href="en-cok-islem-gorenler">En Çok
                                                İşlem
                                                Görenler</a>
                                        </li>
                                        <li class="col-12 col-md-4"> <a href="bulls-borsa-gundem">Bulls Borsa
                                                Gündem</a>
                                        </li>
                                    </div>
                                    <div class="menu-sub-action col-12 col-lg-3 df fdc fdc-lg jcfs aifs p-3 f-1 ">
                                        <a href="<%= site %>/register"
                                            class="col col-md-5 col-lg-12 bg-bulls b px-3 py-3 py-md-4 py-lg-3 ra-1 mb-3 df fdc jcc tl">
                                            <h3 class="w-100">
                                                <i class="bi bi-collection pr-2">
                                                </i>Yatırım Hesabı
                                                Açın
                                            </h3> <span class="w-100 db f-09">Hemen Hesap Açmak İçin
                                                <br>Tıklayınız</span>
                                        </a> <a href="/gunluk-bulten"
                                            class="col col-md-5 col-lg-12 bg-lb3 t-bulls px-3 py-3 py-md-4 py-lg-3 ra-1 mb-3 df fdc jcc tl">
                                            <h3 class="w-100">
                                                <i class="bi bi-envelope-paper pr-2">
                                                </i> Günlük
                                                Bülten
                                            </h3> <span class="w-100 db f-09">Günlük Bülteni Okumak İçin
                                                Tıklayınız</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="" class="">Üyelik İşlemleri <i class="fa fa-play">
                            </i>
                        </a>
                        <ul class="fw-400 px-0">
                            <div class="container-- tl">
                                <div class="df aifs">
                                    <div class="menu_sag col-12 col-lg df fw p-0 ml-0 aic">
                                        <li class="col-12 col-md-4"> <a href="<%= site %>/register">Yatırım Hesabı
                                                Açın</a>
                                        </li>
                                        </li>
                                        <li class="col-12 col-md-4"> <a href="<%= site %>/login"
                                                target="_blank">E-Şube</a>
                                        </li>
                                    </div>
                                    <div class="menu-sub-action col-12 col-lg-3 df fdc fdc-lg jcfs aifs p-3 f-1 ">
                                        <a href="<%= site %>/register"
                                            class="col col-md-5 col-lg-12 bg-bulls b px-3 py-3 py-md-4 py-lg-3 ra-1 mb-3 df fdc jcc tl">
                                            <h3 class="w-100">
                                                <i class="bi bi-collection pr-2">
                                                </i>Yatırım Hesabı
                                                Açın
                                            </h3> <span class="w-100 db f-09">Hemen Hesap Açmak İçin
                                                <br>Tıklayınız</span>
                                        </a> <a href="/gunluk-bulten"
                                            class="col col-md-5 col-lg-12 bg-lb3 t-bulls px-3 py-3 py-md-4 py-lg-3 ra-1 mb-3 df fdc jcc tl">
                                            <h3 class="w-100">
                                                <i class="bi bi-envelope-paper pr-2">
                                                </i> Günlük
                                                Bülten
                                            </h3> <span class="w-100 db f-09">Günlük Bülteni Okumak İçin
                                                Tıklayınız</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <div
                        class="menu-action df df-xl-- fdc fdr-md aic jcc jcfe-md tc ml-md-3 pb-3 pt-5 py-md-3 py-lg-0 pst">
                        <li class="fu tc fg1 w-100"> <a href="<%= site %>/login"
                                class="on online-giris btn tc db ra-1 px-3 py-25 py-md-2 py-lg-1 f-09 bg-efl t-f">
                                E-Şube </a>
                        </li>
                        <li class="fu tc fg1 w-100"> <a href="<%= site %>/register"
                                class="hesap-ac musteri-ol btn tc db ra-1 px-3-- py-25 py-md-2 py-lg-1 f-09 bg-lb t-efl">
                                Online Hesap Aç </a> </li>
                        <li class="flxn pl-2 pr-0 li-search dn-mobile">
                            <a class="opensearch ra-1 px-2 py-1 f-09 bg-lb t-efl bi bi-search dib wa">
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="dsktp header-search bg-lb3 py-5 px-0 shadow bt t-bulls3 ma h-100 z99 dn">
        <form action="" method="GET" class="container search-container df ais fnw"> <input type="text" name="search"
                class="search-text fw-500 b w-90 fl ra-1 p-3 ttn mr-2" placeholder="Arama yapmak için metin giriniz"
                required /> <button type="submit" class="searchtoggle2 px-5 b fg1 btn btn-l ra-1 ml-0 f-1">
                <i class="bi bi-search">
                </i>
            </button> </form>
    </div>
</div>
<ul class="print_dn account-nav-btn w-100 bg-bulls35 m-0 df dn-md aic-- jcc jcfe-md tc py-2 px-2 lsn">
    <li class="fu tc fg1 w-100 px-1"> <a class="on online-giris btn tc db ra-1 px-3 py-2 f-09 bg-efl t-f">
            E-Şube
        </a>
        <div class="pa l-0 z2 p-1 bs ra-1 mt-1 bg-f col-12 tdn"> <a href="<%= site %>/login"
                class="esube-popup-- db bg-efl t-f ra-1 py-md-2 py-25 px-3 mb-1" target="_blank">E-Şube</a> <a
                href="<%= site %>/login" class="db bg-efl t-f ra-1 py-md-2 py-25 px-3" target="_blank">Yeni E-Şube</a>
        </div>
    </li>
    <li class="fu tc fg1 w-100 px-1"> <a href="<%= site %>/register"
            class="hesap-ac musteri-ol btn tc db ra-1 px-3 py-2 f-09 bg-lb t-efl"> Hesap Aç </a> </li>
</ul>