<!DOCTYPE HTML>
<html lang="tr">
<%- include("layouts/head") %>

	<body>
		<%- include("layouts/header") %>
			<div class="main middle">
				<div class="container-lg pt-4 pt-lg-4 pb-5 liste-basinda-biz category">
					<div class="px-0">
						<div class="col-12 f-08">
							<div class="breadcrumb pb-2--"> <a href="" class="breadcrumb-item"> <i class="bi bi-house">
									</i>
								</a> <a href="basinda-biz" class="breadcrumb-item">Basında Biz</a> </div>
						</div>
					</div>
					<div class="df">
						<div class="sidebar usn h-100 lsn dn db-lg pr-4">
							<div class="sidebar-bottom f-12 fw-700 pt-1 pb-3"> <a href="<%= site %>/register"
									class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-0 bs2">
									<span>Yatırım Hesabı <br>Açın</span>
									<img src="upload/main/sidebar_woman.png" class="ml-2" />
								</a> <a href="bize-ulasin"
									class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-2 bs2">
									<span>Uzmanlarımıza <br>Danışın</span> <img src="upload/main/sidebar_man.png"
										class="ml-2" />
								</a> </div>
						</div> <!-- category-container -->
						<div class="category-container col-12 col-lg py-3 pb-5 pt-0 px-0 px-lg-0 fix">
							<div class="category-header">
								<h1 class="pb-0 mb-0 fw-700 ">Basında Biz</h1>
								<h2 class="altbaslik fw-400 db f-15 p-0 mb-1 mb-lg-2 pb-1">Basında Integral Yatırım</h2>
							</div>
							<div class="cb">
							</div>
							<div class="row"> <!-- category-list -->
								<div class="category-list col df fw px-0 px-lg-2 pb-5 "> <!-- category-item -->
									<div
										class="category-list-item col-12 col-sm-6 col-lg-12 px-2 py-3 py-lg-3 px-lg-0 pb-lg-5 fix">
										<div class="category-inner df fdc fdr-lg">
											<div class="col-lg-4 img-c df aic jcc mb-0 mb-lg-0"> <img
													src="upload/images/basinda-biz/bulls-yatirim-basinda-biz.webp"
													class="w-100 ofc ra-1" alt="category-item" /> </div>
											<div class="col-lg pl-lg-4 df aifs fdc jcse p-3 pr-lg-0">
												<h2 class="pb-0 mb-0 f-14 fw-700 pr-2 df aifs"> &quot;Bu ay zor geçecek!
													23
													Ekim kararı piyasalara yön verecek&quot; </h2> <span
													class="tarih f-1 fw-400 ml-0 col-auto">15.10.2025</span>
												<div class="pb-0 cb fw-300"> PARA MEDYA // Integral Yatırım Yönetim Ku­rulu
													Başkan Vekili ve Ge­nel Müdürü Murat Ba­rışık, Merkez Bankası’nın 23
													Ekim’deki faiz kararı ve ardın­dan gelecek enflasyon raporu...
												</div>
											</div>
										</div>
									</div> <!-- category-item -->
									<div
										class="category-list-item col-12 col-sm-6 col-lg-12 px-2 py-3 py-lg-3 px-lg-0 pb-lg-5 fix">
										<div class="category-inner df fdc fdr-lg">
											<div class="col-lg-4 img-c df aic jcc mb-0 mb-lg-0"> <img
													src="upload/images/basinda-biz/bulls-yatirim-basinda-biz.webp"
													class="w-100 ofc ra-1" alt="category-item" /> </div>
											<div class="col-lg pl-lg-4 df aifs fdc jcse p-3 pr-lg-0">
												<h2 class="pb-0 mb-0 f-14 fw-700 pr-2 df aifs"> Barışık: Gazze´deki
													ateşkes
													finansal piyasalarda iyimserlik yarattı </h2> <span
													class="tarih f-1 fw-400 ml-0 col-auto">15.10.2025</span>
												<div class="pb-0 cb fw-300"> GAZETE PENCERE // Integral Yatırım Yönetim
													Kurulu
													Başkan Vekili ve Genel Müdürü Murat Barışık, Gazze´deki ateşkesin
													jeopolitik riski azalttığını belirtti. Barışık, Liderlerin... </div>
											</div>
										</div>
									</div>
									<hr> <!-- category-item -->
									<div
										class="category-list-item col-12 col-sm-6 col-lg-12 px-2 py-3 py-lg-3 px-lg-0 pb-lg-5 fix">
										<div class="category-inner df fdc fdr-lg">
											<div class="col-lg-4 img-c df aic jcc mb-0 mb-lg-0"> <img
													src="upload/images/basinda-biz/bulls-yatirim-basinda-biz.webp"
													class="w-100 ofc ra-1" alt="category-item" /> </div>
											<div class="col-lg pl-lg-4 df aifs fdc jcse p-3 pr-lg-0">
												<h2 class="pb-0 mb-0 f-14 fw-700 pr-2 df aifs"> &quot;Integral
													Yatırım Başkan
													Vekili Ba­rışık: Savaşın bitmesi piyasalardaki olumlu havayı
													artırdı&quot; </h2> <span
													class="tarih f-1 fw-400 ml-0 col-auto">15.10.2025</span>
												<div class="pb-0 cb fw-300"> DÜNYA GAZETESİ // Dünya gündemi Gazze’deki
													ateşkes ve liderlerin bir araya gelmesiyle yeniden şekilleniyor.
													Integral
													Yatırım Yönetim Kurulu Başkan Vekili ve Genel Müdürü Murat... </div>
											</div>
										</div>
									</div> <!-- category-item -->
									<div
										class="category-list-item col-12 col-sm-6 col-lg-12 px-2 py-3 py-lg-3 px-lg-0 pb-lg-5 fix">
										<div class="category-inner df fdc fdr-lg">
											<div class="col-lg-4 img-c df aic jcc mb-0 mb-lg-0"> <img
													src="upload/images/basinda-biz/bulls-yatirim-basinda-biz.webp"
													class="w-100 ofc ra-1" alt="category-item" /> </div>
											<div class="col-lg pl-lg-4 df aifs fdc jcse p-3 pr-lg-0">
												<h2 class="pb-0 mb-0 f-14 fw-700 pr-2 df aifs"> Volatilite Arttı,
													Yatırımcı
													Portföyünü Kontrol Etmeli </h2> <span
													class="tarih f-1 fw-400 ml-0 col-auto">01.10.2025</span>
												<div class="pb-0 cb fw-300"> ANALİZ GAZETESİ // Integral Portföy Finansal
													Analisti Salih Oğuzhan Sever, yatırımcıların artan volatilite
													nedeniyle
													pozisyonlarını daha sık kontrol etmeleri gerektiğini belirterek,...
												</div>
											</div>
										</div>
									</div>
									<hr> <!-- category-item -->
									<div
										class="category-list-item col-12 col-sm-6 col-lg-12 px-2 py-3 py-lg-3 px-lg-0 pb-lg-5 fix">
										<div class="category-inner df fdc fdr-lg">
											<div class="col-lg-4 img-c df aic jcc mb-0 mb-lg-0"> <img
													src="upload/images/basinda-biz/bulls-yatirim-basinda-biz.webp"
													class="w-100 ofc ra-1" alt="category-item" /> </div>
											<div class="col-lg pl-lg-4 df aifs fdc jcse p-3 pr-lg-0">
												<h2 class="pb-0 mb-0 f-14 fw-700 pr-2 df aifs"> Borsanın 11 Bin Puan
													Savaşı
												</h2> <span class="tarih f-1 fw-400 ml-0 col-auto">01.10.2025</span>
												<div class="pb-0 cb fw-300"> SÖZCÜ GAZETESİ / Son günlerde Borsa
													İstanbul’un
													10.800 seviyelerinde tutunma çabası dikkat çekiyor. Integral Yatırım
													Yönetim Kurulu Başkan Vekili ve Genel Müdür Murat Barışık,... </div>
											</div>
										</div>
									</div> <!-- category-item -->
									<div
										class="category-list-item col-12 col-sm-6 col-lg-12 px-2 py-3 py-lg-3 px-lg-0 pb-lg-5 fix">
										<div class="category-inner df fdc fdr-lg">
											<div class="col-lg-4 img-c df aic jcc mb-0 mb-lg-0"> <img
													src="upload/images/basinda-biz/bulls-yatirim-basinda-biz.webp"
													class="w-100 ofc ra-1" alt="category-item" /> </div>
											<div class="col-lg pl-lg-4 df aifs fdc jcse p-3 pr-lg-0">
												<h2 class="pb-0 mb-0 f-14 fw-700 pr-2 df aifs"> &quot;CDS Düşüyor, Not
													Artırım Beklentileri Hızlanabilir&quot; </h2> <span
													class="tarih f-1 fw-400 ml-0 col-auto">17.09.2025</span>
												<div class="pb-0 cb fw-300"> DÜNYA GAZETESİ //Integral Yatırım Yönetim
													Kurulu
													Başkan Vekili ve Genel Müdürü Murat Barışık, yaklaşan Fed
													toplantısı,
													altın ve gümüş fiyatlamaları ile Türkiye’nin risk primine... </div>
											</div>
										</div>
									</div>
									<hr>
								</div> <!-- category-list -->
							</div>
							<div class="load-more-container col-12 tc tl-lg"> <input type="hidden" class="si_url"
									value="basinda-biz" readonly /> <input type="hidden" class="loadmore_page_index"
									value="2" readonly /> <span
									class="loadmore cp fw-600 ra-5 b p-2 db di-lg tc px-4 mx-5 mx-lg-0">
									<b class="t-p f-09 mr-1">&#x25BC;</b> Daha fazla yükle</span> </div>
						</div> <!-- category-container -->
					</div>
				</div>
			</div>
			<div class="print-info dn">basinda-biz/</div>

			<%- include("layouts/footer") %>

				<div class="popup_main esube-popup-container overlay oh pf p-4 px-md-5 py-lg-5 closen dn">
					<div class="overlay-blur pa">
					</div>
					<div class="popup_main_container container-lg" alt="0"> <b class="closex pa">
						</b> <a href="<%= site %>/login" target="_blank"
							class="df aic jcc popup-inside">
							<img src="upload/main/popup/desktop-esube.webp" class="popup-img dn db-lg" />
							<img src="upload/main/popup/mobil-esube.webp" class="popup-img db dn-lg" /> </a> </div>
				</div>
	</body>
	<div class="toast jstoast">
	</div>

	<div class="scrollup pf r-0 mb-5 mx-3 aic jcc ra-circle">
		<i class="fa fa-angle-up dn">
		</i>
		<i class="bi bi-chevron-up">
		</i>
	</div>


	<div class="dn">
		<div class="spinner-border loading t-s vam mr-2">
		</div>
	</div>

</html>