<!DOCTYPE HTML>
<html lang="tr">
<%- include("layouts/head") %>

	<body>
		<%- include("layouts/header") %>
			<div class="main middle"> <input type="hidden" class="kategorisi dn" value="6" />
				<div class="container-lg pt-3 pt-lg-4 pb-4">
					<div class="col-12 f-08">
						<div class="breadcrumb pb-2--"> <a href="" class="breadcrumb-item"> <i class="bi bi-house">
								</i>
							</a> <a href="hakkimizda" class="breadcrumb-item">Hakkımızda</a>
							<a class="breadcrumb-item tdn ">Biz Kimiz</a>
						</div>
					</div>
					<div class="row">
						<div class="sidebar usn h-100 lsn dn db-lg pr-4">
							<div class="sidebar-bottom f-12 fw-700 pt-1 pb-3"> <a href="<%= site %>/register"
									class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-0 bs2">
									<span>Yatırım Hesabı <br>Açın</span>
									<img src="upload/main/sidebar_woman.png" class="ml-2" />
								</a> <a href="bize-ulasin"
									class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-2 bs2">
									<span>Uzmanlarımıza <br>Danışın</span> <img src="upload/main/sidebar_man.png"
										class="ml-2" />
								</a> 
							</div>
						</div>
						<div class="col-12 col-lg pt-0">
							<article class="fix" alt="biz-kimiz">
								<h1 class="fw-700 z1 pb-1 mb-0">Biz Kimiz</h1> <img src="upload/images/logo/logo.png"
									class="featured-image fr mb-4 ml-3 main-img img-fluid fix col-5 col-lg-4"
									alt="article-image" />
								<h2 class="altbaslik fw-400 db f-15 p-0 mb-0 mb-lg-2 pb-1">Bulls Yatırım</h2>
								<section class="yazi ">
									<div class="body">
										<p>Bulls Yatırım Menkul Değerler A.Ş. (“Bulls Yatırım”), Sermaye Piyasası Kanunu
											ile ilgili mevzuat hükümlerine uygun olarak yatırım hizmetleri ve
											faaliyetleri ile yan hizmetlerde bulunmaktadır. 03.09.2015 yılında Geniş
											Yetkili Aracı Kurum yetkisi alan Bulls Yatırım, G-010(324) numaralı yetki
											belgesine sahiptir. Bu yetki kapsamında İşlem Aracılığı, Portföy Aracılığı,
											Bireysel Portföy Yöneticiliği, Yatırım Danışmanlığı, En İyi Gayret Aracılığı
											ve Aracılık Yüklenimi Suretiyle Halka Arza Aracılık Faaliyetleri ve Sınırlı
											Saklama Hizmeti verilmektedir. Bu hizmetlere ek olarak sermaye piyasası
											danışmanlık hizmetlerinin sunulması, kredi ve ödünç verilmesi, genel yatırım
											tavsiyesinin sunulması, servet yönetimi ve finansal planlama yapılması
											hizmetler de yan hizmetler kapsamında verilmektedir.</p>
										<p><br></p>
									</div>
								</section>
								<section class="zebra ">
									<h2 class="f-14 pt-0 pb-0 fw-700">Misyonumuz</h2>
									<div class="body">
										<ul>
											<li>Yüksek sermayeli yapımız sayesinde, güvenilir bir yatırım ortamı
												sağlamak, müşterilerimizin finansal haklarını korumak ve Bulls Yatırım
												olarak müşterilerimize sunduğumuz yüksek kaliteli hizmeti daimi olarak
												sürdürmek.</li>
											<li>Müşterilerimizin kişisel verilerinin korunması konusunda, bilgi
												güvenliği ve kriptografi gibi disiplinlerin yanında kendi geliştiğimiz
												teknolojileri de kullanarak güvenilir bir yatırım ortamı sunmak.
												Müşterilerimizin yatırım verilerini yüksek güvenlikli olarak saklamak.
											</li>
											<li>Uzun yıllar sektörde değer üreten kurucu kadromuzun tecrübesinden
												faydalanarak, yatırımcıların farklı risk tercihleri ve getiri vade ve
												beklentilerine uygun olabilecek çözümler geliştirerek müşterilerimizin
												portföylerini sadece yüksek getiriyle değil aynı zamanda uzun yıllar
												süresince sürdürülebilir ve korunabilir bir getiri misyonuyla yönetmek.
											</li>
											<li>Ulusal standartlara, yasalara, mevzuata, ana sözleşmeye, kurumsal
												yönetim ilkelerine, etik değerlere ve sosyal sorumluluk bilincine uyumlu
												bir şekilde; müşterilerimizin, çalışanlarımızın ve hisse sahiplerinin
												menfaatlerini gözeterek, profesyonel bir hizmet sunmak.</li>
											<li>Yeni teknolojiler ile yüksek kalitedeki hizmeti servis etmek,
												yatırımcıların doğru yatırım stratejilerini oluşturabilmeleri için
												yatırımcı eğitimleri ve güvenilir uzman görüşleri sunmak.</li>
											<li>Yatırımcı ihtiyaçlarını ön planda tutarak güvenilir, şeffaf, etkin,
												adil, yenilikçi, rekabetçi ve sürdürülebilir bir hizmet sağlamak.</li>
											<li>Müşteri memnuniyetini her zaman ön planda tutmak.<br></li>
										</ul>
									</div>
								</section>
								<section class="zebra ">
									<h2 class="f-14 pt-0 pb-0 fw-700">Vizyonumuz</h2>
									<div class="body">
										<ul>
											<li>Bulls Yatırım’ın gücüyle, değişen piyasa koşullarını anlık olarak takip
												ederek sürdürülebilir bir getiri modeli sağlamak ve aktif bir yatırım
												kurumu olarak faaliyet göstermek.</li>
											<li>En güncel yatırım ürünleri hakkında güçlü bir araştırma ekibi ile
												düzenli olarak günün 24 saati yatırımcılarımız için analiz verileri
												üretmek, bilgiyi yatırımcılarımıza ulaştırmak.</li>
											<li>Ulusal çapta finansal okuryazarlığı arttırmak, Türkiye’de yatırım
												kültürünü geliştirmek amacıyla alanında yetkin ve öncü uzmanlarımız ile
												kapsamlı eğitimler düzenleyerek bilgi aktarımını daimi olarak sürdürmek.
											</li>
											<li>Yenilikçi teknolojilere yatırım yaparak, yatırım ürün ve hizmetlerini
												kaliteli ve güvenilir bir ortamda, müşteri merkezli bir hizmet anlayışı
												ile yatırımcılara ulaştırmak.</li>
											<li>Türkiye finans piyasasının lider ve yatırımcılar tarafından en çok
												güvenilen aracı kurumu olmak. Piyasadaki kalite ve güven standartlarını
												yükseltmek.</li>
											<li>Yüksek gizlilik koşullarının sağlanmasında Türkiye’deki aracı kurumlara
												örnek olmak ve bu koşulları piyasanın temel prensipleri haline getirecek
												vizyonla hareket etmek.</li>
										</ul>
									</div>
								</section>
								<section class="accordion ">
									<h2 class="f-17 py-2 px-4 fw-600">Faaliyetlerimiz</h2>
									<div class="body" style="display:none;">
										<p>Bulls Yatırım Menkul Değerler A.Ş,<br>- Yatırım Danışmanlığı, <br>- Portföy
											Yöneticiliği, <br>- Menkul Kıymetleri Geri Alma (Repo) veya Satma (Ters
											Repo) Taahhüdü ile Alım Satım, <br>- Halka Arz Aracılık, <br>- Alım Satım
											Aracılığı, <br>- Kredili Menkul Kıymet, <br>- Açığa Satış ve Menkul
											Kıymetlerin Ödünç Alma ve Verme İşlemleri, <br>- Türev Araçların Alım
											Satımına Aracılık faaliyetlerinde bulunmaktadır.</p>
									</div>
								</section>
								<a href="<%= site %>/register"
									class="btn btn-p col-lg-a col-12 hesap-ac musteri-ol btn tc dib mx-a mt-4 ra-1 px-5 py-2">
									Şimdi Hesap Açın <i class="bi bi-hand-index-thumb pl-1 "></i> </a>
							</article>
						</div>
					</div>
				</div>
			</div>
			<div class="print-info dn">biz-kimiz</div>
			<%- include("layouts/footer") %>
				<div class="popup_main esube-popup-container overlay oh pf p-4 px-md-5 py-lg-5 closen dn">
					<div class="overlay-blur pa"></div>
					<div class="popup_main_container container-lg" alt="0"> <b class="closex pa"></b> <a
							href="https://sanalsube.bullsyatirim.com:8000/login" target="_blank"
							class="df aic jcc popup-inside"><img src="upload/main/popup/desktop-esube.webp"
								class="popup-img dn db-lg" /><img src="upload/main/popup/mobil-esube.webp"
								class="popup-img db dn-lg" /> </a> </div>
				</div>
	</body>
	<div class="toast jstoast"></div>

	<div class="scrollup pf r-0 mb-5 mx-3 aic jcc ra-circle">
		<i class="fa fa-angle-up dn"></i>
		<i class="bi bi-chevron-up"></i>
	</div>


	<div class="dn">
		<div class="spinner-border loading t-s vam mr-2"></div>
	</div>

</html>