<!DOCTYPE HTML>
<html lang="tr">
<%- include("layouts/head") %>

	<body>
		<%- include("layouts/header") %>
			<div class="main middle"> <input type="hidden" class="kategorisi dn" value="1" />
				<div class="container-lg pt-3 pt-lg-4 pb-4">
					<div class="col-12 f-08">
						<div class="breadcrumb pb-2--"> <a href="" class="breadcrumb-item"> <i class="bi bi-house">
								</i>
							</a> <a href="genel" class="breadcrumb-item">Bulls Yatırım</a>
							<a class="breadcrumb-item tdn ">Bulls Yatırım Emir Gerçekleştirmelerinde Anlık
								Bildirim Başladı!</a>
						</div>
					</div>
					<div class="row">
						<div class="sidebar usn h-100 lsn dn db-lg pr-4">
							<div class="sidebar-bottom f-12 fw-700 pt-1 pb-3"> <a href="<%= site %>/register"
									class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-0 bs2">
									<span>Yatırım Hesabı <br>Açın</span>
									<img src="upload/main/sidebar_woman.png" class="ml-2" />
								</a> <a href="bize-ulasin"
									class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-2 bs2">
									<span>Uzmanlarımıza <br>Danışın</span> <img src="upload/main/sidebar_man.png"
										class="ml-2" />
								</a> </div>
						</div>
						<div class="col-12 col-lg pt-0">
							<article class="fix" alt="bulls-yatirim-mobil-uygulama">
								<h1 class="fw-700 z1 mb-2 pb-1 mb-lg-3 pb-lg-3">Bulls Yatırım Emir Gerçekleştirmelerinde
									<br>Anlık Bildirim Başladı!
								</h1>
								<section class="yazi ">
									<div class="body">
										<p>SAYIN YATIRIMCILARIMIZ,</p>
										<p>Bulls Yatırım mobil uygulamamız üzerinden hisse senedi emir gerçekleşmeleri
											artık anlık, ücretsiz push bildirimi olarak tarafınıza iletilmektedir.
											Böylece işlemleriniz tamamlandığında uygulamanızdan anında
											haberdar&nbsp;olabilirsiniz.</p>
										<p>SMS ile bilgilendirilme talebiniz için yatırım danışmanınızla iletişime
											geçebilirsiniz.</p>
									</div>
								</section>
								<a href="<%= site %>/register"
									class="btn btn-p col-lg-a col-12 hesap-ac musteri-ol btn tc dib mx-a mt-4 ra-1 px-5 py-2">
									Şimdi Hesap Açın <i class="bi bi-hand-index-thumb pl-1 "></i> </a>
							</article>
						</div>
					</div>
				</div>
			</div>
			<div class="print-info dn">bulls-yatirim-mobil-uygulama</div>
			<%- include("layouts/footer") %>
				<div class="popup_main esube-popup-container overlay oh pf p-4 px-md-5 py-lg-5 closen dn">
					<div class="overlay-blur pa"></div>
					<div class="popup_main_container container-lg" alt="0"> <b class="closex pa"></b> <a
							href="https://sanalsube.bullsyatirim.com:8000/login" target="_blank"
							class="df aic jcc popup-inside"><img src="upload/main/popup/desktop-esube.webp"
								class="popup-img dn db-lg" /><img src="upload/main/popup/mobil-esube.webp"
								class="popup-img db dn-lg" /> </a> </div>
				</div>
	</body>
	<div class="toast jstoast"></div>

	<div class="scrollup pf r-0 mb-5 mx-3 aic jcc ra-circle">
		<i class="fa fa-angle-up dn"></i>
		<i class="bi bi-chevron-up"></i>
	</div>


	<div class="dn">
		<div class="spinner-border loading t-s vam mr-2"></div>
	</div>

</html>