<!DOCTYPE HTML>
<html lang="tr">
<%- include("layouts/head") %>

	<body>
		<%- include("layouts/header") %>
			<div class="main middle"> <input type="hidden" class="kategorisi dn" value="1" />
				<div class="container-lg pt-3 pt-lg-4 pb-4">
					<div class="col-12 f-08">
						<div class="breadcrumb pb-2--"> <a href="" class="breadcrumb-item"> <i class="bi bi-house">
								</i>
							</a> <a href="genel" class="breadcrumb-item">Bulls Yatırım</a>
							<a class="breadcrumb-item tdn ">Gizlilik Politikası</a>
						</div>
					</div>
					<div class="row">
						<div class="sidebar usn h-100 lsn dn db-lg pr-4">
							<div class="sidebar-bottom f-12 fw-700 pt-1 pb-3"> <a href="<%= site %>/register"
									class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-0 bs2">
									<span>Yatırım Hesabı <br>Açın</span>
									<img src="upload/main/sidebar_woman.png" class="ml-2" />
								</a> <a href="bize-ulasin"
									class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-2 bs2">
									<span>Uzmanlarımıza <br>Danışın</span> <img src="upload/main/sidebar_man.png"
										class="ml-2" />
								</a> </div>
						</div>
						<div class="col-12 col-lg pt-0">
							<article class="fix" alt="gizlilik-politikasi">
								<h1 class="fw-700 z1 pb-1 mb-0">Gizlilik Politikası</h1> <img
									src="upload/images/pages/gizlilik-so-zles-mesi.webp"
									class="featured-image fr mb-4 ml-3 main-img img-fluid fix col-5 col-lg-4"
									alt="article-image" />
								<h2 class="altbaslik fw-400 db f-15 p-0 mb-0 mb-lg-2 pb-1">Bilgilerinizin Gizliliği
									Güvende</h2>
								<section class="yazi ">
									<div class="body">
										<p>Bulls Yatırım Menkul Değerler A.Ş. (“Bulls” veya “Şirket”), ilgili mevzuat
											çerçevesinde müşteri bilgilerinin gizliliğini ve güvenliğini en üst seviyede
											sağlamak konusunda gerekli tedbirleri almakta ve bu doğrultuda Bulls <a
												href="" data-mce-href="">web sitesinde</a> aşağıda belirtilen hususları
											uygulamaktadır:</p>
										<ul>
											<li>Şirket satış, pazarlama ve yönetim faaliyetlerini gerçekleştirebilmek ve
												hizmetlerinin kesintisiz ilerleyebilmesini sağlamak adına, Genel
												Müdürlük, şubeler ve irtibat ofisleri gibi kanallardan; sözlü, yazılı ya
												da elektronik ortam üzerinden temin edebildiği kişisel verileri, Veri
												Sorumlusu sıfatıyla, hukuka uygun bir biçimde işlemektedir.</li>
											<li>Kişisel veriler Bulls &nbsp;tarafından; satış, pazarlama ve yönetim
												faaliyetlerinin eksiksiz olarak sürdürülmesi, yasal ve idari
												yükümlülükler kapsamında Şirketin yürütmekte sorumlu olduğu
												faaliyetlerin gerçekleştirilmesi, veri sahibinin mevzuattaki veya Şirket
												bünyesince kabul gören kural ve politikalardaki değişiklikler hususunda
												aydınlatılması, meşru menfaatlerin korunması, tanıtım ve pazarlama
												faaliyetlerinin yürütülmesi ile birlikte, anket ve oylamalar ile veri
												sahiplerinin görüşünün alınması ve müşteri memnuniyetinin sağlanması,
												Şirkete ait veya Şirket tarafından kullanılan elektronik sistemlerin ve
												fiziki ortamların güvenliğinin sağlanması ve ilgili değerlendirmelerin
												yapılması suretiyle gerekli önlemlerin alınması, Şirket tarafından
												sunulan ürün ve hizmetlerden müşterileri faydalandırmak için iş
												birimleri tarafından gerekli çalışmaların yapılması amacıyla
												işlenmektedir.</li>
											<li>Bulls web sitesi üzerinden, iletişim formunun (ürün ve hizmet ile ilgili
												yorum ve sorulara ilişkin) doldurulmasına yönelik olarak dolduran
												kişiler tarafından iletilen kişisel veriler alınmakta olup iş
												başvurularının gerçekleştirilmesine yönelik ise çalışan adaylarının
												kişisel verileri alınmaktadır.</li>
											<li>Bulls, kişisel verilerin gizliliğini ve güvenliğini korumaya önem verir.
												Bu doğrultuda, kişisel verileri yetkisiz erişim, zarar, kayıp veya
												ifşaya karşı korumak için gerekli teknik ve idari güvenlik önlemleri
												alınır. Bulls, web sitesi üzerinden diğer web sitelerine erişim için
												verilen bağlantıların güvenlik ve gizliliğinden sorumlu değildir. Bu
												sitelere giriş sonucu karşılaşılabilecek maddi veya manevi kayıplarda
												sorumluluk kabul edilmeyecektir.</li>
											<li>Firma web sitesi üzerinden iletişim formu veya işe alım işlemlerinde
												kullanılmak üzere talep edilen her türlü kişisel veri, ilgili kişilerin
												onayı olmadan 3. kişilerle hiçbir şekilde paylaşılmamaktadır. Yalnızca
												müşteri bilgilerine erişme yetkisi bulunan yasal kurumlar ve yetkililer
												ile talep edilmesi durumunda müşteri bilgileri paylaşılabilecektir.</li>
											<li>İlgili kişilerin Bulls web sitesi üzerinden girmiş oldukları bilgilere
												3. kişilerin erişimi engellenmiştir. İlgili kişilerin paylaştığı kişisel
												verilerin gizliliğini korumak amacıyla Bulls sistem ve Internet alt
												yapısı güvenilir seviyede tutularak gerekli önlemler alınmıştır.</li>
											<li>Kullanım amacı sonlanan ve yasal saklama süresi sona eren kişisel
												veriler, 6698 sayılı Kişisel Verilerin Korunması Kanununun (“KVKK”) 7.
												maddesi uyarınca Şirket tarafından silinmekte, yok edilmekte veya anonim
												hale getirilmektedir.</li>
											<li>Bulls, gerekli gördüğü durumlarda farklı kuruluşlardan destek hizmeti
												almakta ve ilgili kuruluşların Şirket gizlilik standartlarına ve
												şartlarına uygun hareket etmesini sağlamaktadır. B Bulls, sözleşme
												düzenlediği veri işleyenlerin bilgi güvenliğine en az kendisi kadar önem
												verdiklerinden ve müşterek sorumluluğun bilinciyle hareket ettiklerinden
												emin olmakta ve bunu sözleşmesel olarak da güvenceye almaktadır. Veri
												işleyen sıfatıyla Bulls’a ait kişisel verileri işleyen şirketler,
												mevzuattaki tanım ile paralel olarak yalnız Bulls’un talimatları
												doğrultusunda, Bulls ile akdedilmiş sözleşme çevçevesinde kalmak
												suretiyle ve mevzuata uygun olarak kişisel verileri işler.</li>
											<li>Firmamız web sitesinde bulunan bilgi, materyal ve bunların düzenlenmesi
												konusundaki telif hakları Bulls’a aittir. Şirket web sitesinde yer alan
												üçüncü şahıslara ait materyaller dışında kalan bilgi ve materyallere
												dair tüm telif hakları, tescilli marka, patent, entelektüel ve diğer
												mülkiyet hakları Bulls’ta saklıdır.</li>
										</ul>
										<ul>
											<li>KVKK’nın 11. maddesi kapsamında kişisel verileri işlenen gerçek
												kişilerin hakları düzenlenmektedir ve bu madde uyarınca ilgili kişiler
												Bulls üzerinde aşağıdaki haklara sahiptir:</li>
										</ul>
										<ol>
											<li>Kişisel verilerinin işlenip işlenmediğini öğrenme,</li>
											<li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>
										</ol>
										<ul>
											<li>Kişisel verilerinin işlenme amacını ve bunların amacına uygun kullanılıp
												kullanılmadığını öğrenme,</li>
										</ul>
										<ol>
											<li>Yurt içinde veya yurt dışında kişisel verilerinin aktarıldığı üçüncü
												kişileri bilme,</li>
											<li>Kişisel verilerinin eksik veya yanlış işlenmiş olması halinde bunların
												düzeltilmesini isteme,</li>
											<li>Kişisel verilerinin işlenmesini gerektiren sebeplerin ortadan kalkması
												halinde, bunların imha edilmesini (silinmesini, yok edilmesini ya da
												anonim hale getirilmesini) isteme,</li>
										</ol>
										<ul>
											<li>Gerçekleştirilecek düzeltme ve imha işlemlerinin kişisel verilerin
												aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
											<li>İşlenen kişisel verilerinin münhasıran otomatik sistemler vasıtasıyla
												analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya
												çıkmasına itiraz etme,</li>
										</ul>
										<ol>
											<li>Kişisel verilerinin Kanuna aykırı olarak işlenmesi sebebiyle zarara
												uğraması halinde zararın giderilmesini talep etme.</li>
										</ol>
										<ul>
											<li>Yukarıdaki haklardan birinin kullanılması amaçlı olarak veri
												sahiplerinden gelecek talepler, Şirket&nbsp; tarafından en geç 30 gün
												içerisinde karşılanacaktır. Bu talepler, Başvuru Formunu başvuru
												esnasında doldurup imzalayarak kimlik doğrulanmasını sağlayıcı
												belgelerle (nüfus cüzdanı, ehliyet vb.) birlikte; Bulls Genel
												Müdürlüğüne bizzat başvuru yaparak, “Esentepe, Büyükdere Cd. Levent
												Plaza No:173 1 B Blok Kat: 5, 34394 Şişli/İstanbul” adresine kimlik
												tespit edici belgeler ile bizzat elden teslim edilerek, noter kanalıyla
												söz konusu adrese gönderilerek veya <a
													href="mailto:bullsyatirim@hs03.kep.tr"
													data-mce-href="mailto:bullsyatirim@hs03.kep.tr">bullsyatirim@hs03.kep.tr</a>
												&nbsp;adresine güvenli elektronik imzalı ya da tarafınızca şirketimize
												daha önce bildirilen ve tarafımızca teyit edilmiş olan şirket
												sistemimizdeki elektronik posta adresini kullanmak suretiyle &nbsp; <a
													href="mailto:kvkk@bullsyatirim.com"
													data-mce-href="mailto:kvkk@bullsyatirim.com">kvkk@bullsyatirim.com</a>
												elektronik posta adresine iletilebilir.</li>
											<li>Taleplerin ayrıca bir maliyet gerektirmesi durumunda ilgili mevzuat
												kapsamında belirlenen tutarlarda ücret talep edilebilir.</li>
											<li>Bulls web sitesine giriş yapılması yukarıda belirtilen koşulların kabul
												edildiği anlamına gelmekte olup, Şirket bu Yasal Uyarıda yer alan hüküm
												ve koşulları önceden bir ihbara gerek kalmaksızın değiştirme ve
												güncelleme hakkına sahiptir.</li>
										</ul>
									</div>
								</section>
								<section class="yazi ">
									<h2 class="f-14 pt-0 pb-0 fw-700">Kullanım ve Gizlilik Politikası</h2>
									<div class="body">
										<p>Bulls Yatırım Menkul Değerler A.Ş. (bundan sonra "Bulls Yatırım" olarak ifade
											edilecektir.), sahip olduğu teknolojik imkânlar kapsamında müşteri
											memnuniyeti ve güvenliğini temin odaklı ve etik hizmet felsefesini gözeterek
											yatırımcıların yatırım işlemlerini gerçekleştirebilmesi ve bu amaçla bilgi
											edinmelerini sağlamak üzere Bulls Yatırım Menkul Değerler A.Ş. kurumsal web
											sitesi www.bullsyatirim.com ile işlettiği diğer web siteleri olan
											www.bullsyatirim.com bundan sonra işleteceği başkaca web siteleri üzerinden
											(bundan sonra "Web Siteleri" olarak ifade edilecektir.) vermiş olduğu
											hizmetlerin bir parçası olarak yatırımcılarının bilgilerinin gizliliğini
											korumak için aşağıda belirtilen temel kuralları benimsemektedir.</p>
									</div>
								</section>
								<section class="accordion ">
									<h2 class="f-17 py-2 px-4 fw-600">Okumak İçin Tıklayınız!</h2>
									<div class="body" style="display:none;">
										<p>İçindekiler</p>
										<ol>
											<li><a href="#_Toc510798468" data-mce-href="#_Toc510798468"> KAPSAM.. 3</a>
											</li>
											<li><a href="#_Toc510798469" data-mce-href="#_Toc510798469"> TANIMLAR. 3</a>
											</li>
											<li><a href="#_Toc510798470" data-mce-href="#_Toc510798470"> REFERANSLAR.
													4</a></li>
											<li><a href="#_Toc510798471" data-mce-href="#_Toc510798471"> DEĞİŞİKLİKLER.
													4</a></li>
										</ol>
										<p><a href="#_Toc510798472"
												data-mce-href="#_Toc510798472">1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												AMAÇ. 4</a></p>
										<p><a href="#_Toc510798473"
												data-mce-href="#_Toc510798473">2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												KİŞİSEL VERİ 5</a></p>
										<p><a href="#_Toc510798474"
												data-mce-href="#_Toc510798474">2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Kişisel Veri İşlemesine İlişkin Genel İlkeler 5</a></p>
										<p><a href="#_Toc510798475"
												data-mce-href="#_Toc510798475">2.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Şirket Tarafından İşlenen Kişisel Veriler 5</a></p>
										<p><a href="#_Toc510798476"
												data-mce-href="#_Toc510798476">2.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Kişisel Verilerin İşlenme Amaçları 6</a></p>
										<p><a href="#_Toc510798477"
												data-mce-href="#_Toc510798477">2.4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Kişisel Verilerin Aktarılması 7</a></p>
										<p><a href="#_Toc510798478"
												data-mce-href="#_Toc510798478">2.5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Kişisel Verilerin Toplanması 8</a></p>
										<p><a href="#_Toc510798479"
												data-mce-href="#_Toc510798479">2.6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Kişisel Verilerin Saklanma Süresi 8</a></p>
										<p><a href="#_Toc510798480"
												data-mce-href="#_Toc510798480">2.7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												KVKK Çerçevesinde Veri Sahibinin Hakları 9</a></p>
										<p><a href="#_Toc510798481"
												data-mce-href="#_Toc510798481">2.8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Yurtdışına Veri Aktarımı <strong>Hata! Yer işareti
													tanımlanmamış.</strong></a></p>
										<p><a href="#_Toc510798482"
												data-mce-href="#_Toc510798482">2.9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Kişisel Verilerin Güvenliği 9</a></p>
										<p><a href="#_Toc510798483"
												data-mce-href="#_Toc510798483">3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												ÇEREZLER VE BENZERİ TEKNOLOJİLER. 11</a></p>
										<p><a href="#_Toc510798484"
												data-mce-href="#_Toc510798484">3.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Genel 11</a></p>
										<p><a href="#_Toc510798485"
												data-mce-href="#_Toc510798485">3.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Çerez Türleri 11</a></p>
										<p><a href="#_Toc510798486"
												data-mce-href="#_Toc510798486">3.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Çerezlerin Kullanım Amaçları 11</a></p>
										<p><a href="#_Toc510798487"
												data-mce-href="#_Toc510798487">3.4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												Çerezleri Devre Dışı Bırakmak. 12</a></p>
										<p>4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; YÜRÜRLÜK VE GÜNCELLEMELER</p>
										<p><br></p>
										<p><br></p>
										<h1><a name="_Toc510798468"
												class="mce-item-anchor"></a>A.&nbsp;&nbsp;&nbsp;&nbsp; KAPSAM</h1>
										<p>İşbu Kişisel Verilerin Korunması ve Gizlilik Politikası (“Politika”), Bulls
											Yatırım Menkul Değerler A.Ş. (“Bulls” veya “Şirket”) içerisinde yer alan tüm
											bölümleri, departmanları ve çalışanları kapsamaktadır. İşbu Politika;
											kişisel verilerin işlenmesine yönelik kurallar bütününü açıklayarak gerekli
											bilgilendirmeleri yapmak amacıyla hazırlanmış olup, Bulls yönetimi
											tarafından onaylanarak <strong>&nbsp;</strong>18.06.2025 tarihinde yürürlüğe
											girmiştir.</p>
										<h1><a name="_Toc510798469"
												class="mce-item-anchor"></a>B.&nbsp;&nbsp;&nbsp;&nbsp; TANIMLAR</h1>
										<table>
											<tbody>
												<tr>
													<td width="180">Açık rıza:</td>
													<td width="435">Belirli bir konuya ilişkin, bilgilendirilmeye
														dayanan ve özgür iradeyle açıklanan rıza.</td>
												</tr>
												<tr>
													<td width="180">Anonim hale getirme:</td>
													<td width="435">Kişisel verilerin, başka verilerle eşleştirilerek
														dahi hiçbir surette kimliği belirli veya belirlenebilir bir
														gerçek kişiyle ilişkilendirilemeyecek hale getirilmesi.</td>
												</tr>
												<tr>
													<td width="180">Kişisel veri sahibi, ilgili kişi:</td>
													<td width="435">Kişisel verisi işlenen gerçek kişi.</td>
												</tr>
												<tr>
													<td width="180">Kişisel veri:</td>
													<td width="435">Kimliği belirli veya belirlenebilir her türlü
														bilgidir ve kişinin fiziksel, ekonomik, kültürel, sosyal veya
														psikolojik kimliğini ifade eden somut bir içerik taşıması veya
														kimlik, vergi, sigorta numarası gibi herhangi bir kayıtla
														ilişkilendirilmesi sonucunda kişinin belirlenmesini sağlayan tüm
														hallerini kapsar.</td>
												</tr>
												<tr>
													<td width="180">Kişisel verileri işleme:</td>
													<td width="435">Kişisel verilerin tamamen veya kısmen otomatik olan
														ya da herhangi bir veri kayıt sisteminin parçası olmak kaydıyla
														otomatik olmayan yollarla elde edilmesi, kaydedilmesi,
														depolanması, muhafaza edilmesi, değiştirilmesi, yeniden
														düzenlenmesi, açıklanması, aktarılması, devralınması, elde
														edilebilir hale getirilmesi, sınıflandırılması ya da
														kullanılmasının engellenmesi gibi veriler üzerinde
														gerçekleştirilen her türlü işlemdir. Verilerin ilk defa elde
														edilmesinden başlayarak veriler üzerinde gerçekleştirilen tüm
														işlem türleri bu kapsama girmektedir.</td>
												</tr>
												<tr>
													<td width="180">Kurul:</td>
													<td width="435">Kişisel Verileri Koruma Kurulu</td>
												</tr>
												<tr>
													<td width="180">Kurum:</td>
													<td width="435">Kişisel Verileri Korumu Kurumu</td>
												</tr>
												<tr>
													<td width="180">KVKK:</td>
													<td width="435">7 Nisan 2016 tarihli ve 29677 sayılı Resmi Gazete’
														de yayımlanan, 24 Mart 2016 tarihli ve 6698 sayılı Kişisel
														Verilerin Korunması Kanunu</td>
												</tr>
												<tr>
													<td width="180">Özel nitelikli kişisel veri:</td>
													<td width="435">Irk, etnik köken, siyasi düşünce, felsefi inanç,
														din, mezhep veya diğer inançlar, dernek vakıf ya da sendika
														üyeliği, sağlık, cinsel hayat, ceza mahkûmiyeti ve güvenlik
														tedbirleriyle ilgili veriler ile biyometrik ve genetik
														verilerdir.</td>
												</tr>
												<tr>
													<td width="180">Politika:</td>
													<td width="435">&nbsp;Kişisel Verilerin Korunması ve Gizlilik
														Politikası</td>
												</tr>
												<tr>
													<td width="180">Veri işleyen:</td>
													<td width="435">Veri sorumlusunun verdiği yetkiye dayanarak onun
														adına kişisel verileri işleyen gerçek veya tüzel kişi</td>
												</tr>
												<tr>
													<td width="180">Veri kayıt sistemi:</td>
													<td width="435">Kişisel verilerin belirli kriterlere göre
														yapılandırılarak işlendiği kayıt sistemi</td>
												</tr>
												<tr>
													<td width="180">Veri sorumlusu:</td>
													<td width="435">Kişisel verilerin işleme amaçlarını ve vasıtalarını
														belirleyen, veri kayıt sisteminin kurulmasından ve
														yönetilmesinden sorumlu olan gerçek veya tüzel kişi</td>
												</tr>
											</tbody>
										</table>
										<h1><a name="_Toc510798470"
												class="mce-item-anchor"></a>C.&nbsp;&nbsp;&nbsp;&nbsp; REFERANSLAR</h1>
										<table>
											<tbody>
												<tr>
													<td width="180">Kişisel Verilerin Korunması Kanunu (‘KVKK’):</td>
													<td width="435">İşbu Politika’ya konu olmakla birlikte, 7 Nisan 2016
														tarihli ve 29677 sayılı Resmi Gazete’ de yayımlanan 24 Mart 2016
														tarihli ve 6698 sayılı Kanun’dur.</td>
												</tr>
												<tr>
													<td width="180">Kişisel Verilerin Silinmesi, Yok Edilmesi veya
														Anonim Hale Getirilmesi Hakkında Yönetmelik</td>
													<td width="435">Kurum tarafından 28 Ekim 2017 tarihli ve 30224
														sayılı Resmi Gazete’de yayımlanan, kişisel verilerin imhasına
														dair hükümleri içerir Yönetmelik’tir.</td>
												</tr>
												<tr>
													<td width="180">Veri Sorumlusuna Başvuru Usul ve Esasları Hakkında
														Tebliğ</td>
													<td width="435">Kurum tarafından 10 Mart 2018 tarihli ve 30356
														sayılı Resmi Gazete’de yayımlanan, veri ilgilileri tarafından
														veri sorumlularına yapılacak başvurulara dair usulü düzenleyen
														Tebliğ’dir.</td>
												</tr>
												<tr>
													<td width="180">Aydınlatma Yükümlülüğünün Yerine Getirilmesinde
														Uyulacak Usul ve Esaslar Hakkında Tebliğ</td>
													<td width="435">Kurum tarafından 10 Mart 2018 tarihli ve 30356
														sayılı Resmi Gazete’de yayımlanan, veri sorumlularının
														aydınlatma yükümlülüklerinin usul ve esaslarını düzenleyen
														Tebliğ’dir.</td>
												</tr>
											</tbody>
										</table>
										<h1><a name="_Toc510798471"
												class="mce-item-anchor"></a>D.&nbsp;&nbsp;&nbsp;&nbsp; DEĞİŞİKLİKLER
										</h1>
										<p>KVKK kapsamındaki ek mevzuatların yürürlüğe girmesi ile birlikte veya
											muhtelif zamanlarda işbu Politika’ da yapılacak olan değişiklikler Şirket
											kurumsal internet sitesinden takip edilebileceği gibi, işbu Politikanın
											güncel versiyonuna da yine bu kurumsal siteden ulaşılabilmektedir.</p>
										<h1><a name="_Toc510798472"
												class="mce-item-anchor"></a>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AMAÇ
										</h1>
										<p>Bulls Yatırım Menkul Değerler A.Ş. (iş bu metinde “Bulls” ya da “Şirket”
											olarak anılacaktır) olarak, kendisi adına veya vekil olarak ya da bir şirket
											veya kuruluşun temsilcisi olarak Bulls ile iletişime geçen müşterilerimizin;
											hissedarlarımızın, iş ortaklarımızın, çalışanlarımızın ve iş başvurusunda
											bulunmak veya internet sitelerimizi ziyaret etmek suretiyle ya da diğer
											iletişim yöntemleri ile bizimle ilişki kuran diğer gerçek kişilerin,
											Kurumumuzla paylaştığı kişisel verilerinin korunmasına büyük önem
											vermektedir. Bu kapsamda 6698 Sayılı Kişisel Verilerin Korunması Kanunu
											(KVKK) çerçevesinde veri sorumlusu olan Kurumumuz, aşağıda detayları yer
											alan “Kişisel Verilerin Korunması ve Gizlilik Politikası” (Politika) ile
											kişisel verilerin işlenmesi, çerez ve benzeri teknolojilerin kullanımı
											konularında uygulamaya aldığı kural ve politikalarını kamuoyu ile
											paylaşmaktadır.</p>
										<p>İşbu Politikanın amacı, Şirket’in yürüttüğü kişisel veri işleme faaliyetleri
											ve bu amaçla kullanılan sistemler konusunda açıklamada bulunarak ilgili
											kişileri bilgilendirmek ve böylece kişisel veriler hususunda şeffaflık
											sağlamaktır.</p>
										<p>Bu bağlamda, Şirket KVKK kapsamında kişisel verilerin işlenmesini, bu
											işlemeye konu alınan veri sahiplerini ve bu kişilerin haklarını, çerez ve
											benzeri teknolojilerinin kullanımı ile birlikte işbu Politika’da
											detaylandırarak açıklamış bulunmaktadır.</p>
										<h1><a name="_Toc510798473"
												class="mce-item-anchor"></a>2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											KİŞİSEL VERİ</h1>
										<h2>2.1. Kişisel Veri Nedir</h2>
										<p>Kişisel Veri, kimliği belirli veya belirlenebilir haldeki gerçek kişilere
											ilişkin her türlü bilgiyi ifade etmektedir. (KVKK m.3/(1)(d))</p>
										<h2>2.2. Kişisel Veri Sayılmayan Bilgi ve Belgeler</h2>
										<p>Burada belirlediğimiz Politika kapsamında “anonim bilgiler”, “anonim hale
											getirilen bilgiler” ve “belirli bir kişi ile ilişkilendirilemeyen diğer
											veriler” kişisel veri olarak kabul edilmemektedir.</p>
										<h2><a name="_Toc510798474" class="mce-item-anchor"></a>2.3. Kişisel Veri
											İşlemesine İlişkin Genel İlkeler</h2>
										<p>Şirket, KVKK 4. maddesinin 2. fıkrası ile işbu Politikanın <strong>‘2.3
												Kişisel Verilerin İşlenme Amaçları’</strong> bölümünde örneklendirilmiş
											olan amaçlar kapsamında, aşağıdaki ilkelere uygun olarak kişisel veri
											işlemektedir:</p>
										<ul>
											<li>Hukuka ve dürüstlük kurallarına uygunluk</li>
											<li>Doğru ve gerektiğinde güncel olma</li>
											<li>Belirli, açık ve meşru amaçlar için işlenme</li>
											<li>İşlendikleri amaçla bağlantılı, sınırlı ve ölçülü olma</li>
											<li>İlgili mevzuatta öngörülen veya işlendikleri amaç için gerekli olan süre
												kadar muhafaza edilme</li>
										</ul>
										<h2><a name="_Toc510798475" class="mce-item-anchor"></a>2.4. Kişisel Verirlerin
											İşleme Şartları</h2>
										<p>Bulls, kişisel verileri, ilgili kişinin açık rızası olmadan işlememektedir.
											Ancak, “Kanunlarda açıkça öngörülmesi”, “fiili imkânsızlık nedeniyle
											rızasını açıklayamayacak durumda bulunan veya rızasına hukuki geçerlilik
											tanınmayan kişinin kendisinin ya da bir başkasının hayatı veya beden
											bütünlüğünün korunması için zorunlu olması”, “bir sözleşmenin kurulması veya
											ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin taraflarına
											ait kişisel verilerin işlenmesinin gerekli olması”, “veri sorumlusunun
											hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması”, “ilgili
											kişinin kendisi tarafından alenileştirilmiş olması”, “bir hakkın tesisi,
											kullanılması veya korunması için veri işlemenin zorunlu olması, “ilgili
											kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla veri
											sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması”
											hallerinden birisinin varlığı hâlinde, ilgili kişinin açık rızası
											aranmaksızın kişisel verilerinin işlenmesi mümkün olabilecektir. (KVKK
											m.5/(2)(a, b, c, d, e, f))</p>
										<h2>2.5. Bulls Tarafından İşlenen Kişisel Veriler</h2>
										<p>Kişisel veriler Bulls bünyesinde veri sahiplerinden alınan açık rıza
											aracılığıyla veyahut KVKK’nın 5. ve 6. maddelerine uygun olarak açık rızaya
											tabi olmaksızın yürütülebilecek faaliyetler ışığında işlenmekte olup, bu
											veriler ancak işbu Politikanın <strong>‘2.5 Kişisel Verilerin İşlenme
												Amaçları’</strong> bölümünde örneklendirilen amaçlar çerçevesinde işlem
											görmektedir. Şirket ile veri sahibi arasındaki ilişkinin türüne ve
											niteliğine, kullanılan iletişim kanallarına ve bahsi geçen amaç bilgisine
											bağlı olarak işlenen veri türleri çeşitlenmekte ve farklılaşmaktadır. <a
												name="_Toc510798476" class="mce-item-anchor"></a></p>
										<p>Aşağıda örnek olarak belirtilen türdeki veriler, iş bu Politikada gözetilen
											esaslar doğrultusunda Bulls tarafından işlenebilmektedir. Veri sahibi ile
											Bulls arasındaki ilişkinin türü, niteliği ve kullanılan iletişim kanalları
											gibi çeşitli faktörlere bağlı olarak hangi verilerin işleneceği, veri sahibi
											ve varsa kayıtlarımıza bildirilmiş velisi, vasisi ve vekili bazında
											değişebilmektedir.</p>
										<ul>
											<li>Ad, soyad, meslek, unvan, çalışılan kurum/kuruluş bilgisi, eğitim
												durumu, çalışma geçmişi, cinsiyet, medeni hal, vatandaşlık, vergi
												mükellefiyeti, adli veya nüfus arşiv kaydı bilgileri gibi veri sahibini
												tanımaya yönelik bilgiler ile varsa velisi, vasisi ve vekiline ait aynı
												nitelikteki veriler,</li>
											<li>Kimlik, pasaport, sürücü belgesi gibi şahsı tanımaya ve kimlik tespitine
												yönelik belgelerde yer alan doğum tarihi, doğum yeri, kimlik numarası,
												kan grubu, medeni hal, din ve fotoğraf gibi verileri,</li>
											<li>Ev, iş yeri veya geçici ikamet yerine ait adres, elektronik posta,
												telefon ve faks numarası gibi iletişim bilgileri; adres teyit edici
												belge olarak kabul edilen belge ve faturalarda yer alan sair kişisel
												bilgiler,</li>
											<li>Yatırım amaçları, risk ve getiri tercihleri, sermaye piyasalarına
												ilişkin bilgi ve tecrübe, sermaye piyasası işlemlerine
												ayırabilecek/ayrılan tasarruf tutarı, veri sahibine uygun olduğu tespit
												edilen ürün ve hizmetler, veri sahibi tarafından faydalanılan yatırım
												hizmetleri ile yan hizmetler, işlem gerçekleştirilen yurt içi ve yurt
												dışı piyasalar, işlem gerçekleştirilen ürünler, işlem sıklığı ve hacmi,
												yatırım kuruluşları, muhabir bankaları gibi detaylı finansal tercih ve
												eğilimlerini içeren verileri,</li>
											<li>Bulls ile gerçekleştirilen yüz yüze ve telefonla yapılan görüşmeleri,
												ıslak yazılı veya elektronik posta yoluyla yapılan yazışmaları gibi
												iletişim kayıtları ile diğer sesli ve görüntülü verileri,</li>
											<li>Kullanılan cihazlara ait internet protokol (IP) adresi, cihaz kimliği,
												benzersiz tanımlayıcı (unique identifier) bilgisi, cihaz türü, reklam
												kimliği, benzersiz aygıt simgesi, internet sayfası görüntülemelerine
												ilişkin istatistikler, gelen ve giden trafik bilgileri, yönlendirme
												URL’si, internet log bilgisi, konum bilgisi, ziyaret edilen siteler ve
												internet sitelerimize bırakılan her türlü elektronik izler, sair
												platformlarımız, internet ağımız ile reklam ve elektronik posta
												içeriklerimiz aracılığı ile gerçekleştirilen işlem ve eylemlere dair her
												türlü bilgiler.</li>
										</ul>
										<h2>2.6. Özel Nitelikli Kişisel Veri Nedir</h2>
										<p>Kişilerin “ırkı, etnik kökeni, siyasi düşüncesi, felsefi inancı, dini,
											mezhebi veya diğer inançları, kılık ve kıyafeti, dernek, vakıf ya da sendika
											üyeliği, sağlığı, cinsel hayatı, ceza mahkûmiyeti ve güvenlik tedbirleriyle
											ilgili verileri ile biyometrik ve genetik verileri” özel nitelikli kişisel
											veridir. (KVKK m.6/(1)</p>
										<h2>2.7. Özel Nitelikli Veri İşleme Şartları</h2>
										<p>Bulls, özel nitelikli kişisel verileri, ilgili kişinin açık rızası olmadan
											işlenmemektedir. Ancak;</p>
										<ol>
											<li>b) Kanunlarda açıkça öngörülmesi,</li>
											<li>c) Fiili imkânsızlık nedeniyle rızasını açıklayamayacak durumda bulunan
												veya rızasına hukuki geçerlilik tanınmayan kişinin, kendisinin ya da bir
												başkasının hayatı veya beden bütünlüğünün korunması için zorunlu olması,
											</li>
										</ol>
										<p>ç) İlgili kişinin alenileştirdiği kişisel verilere ilişkin ve alenileştirme
											iradesine uygun olması,</p>
										<ol>
											<li>d) Bir hakkın tesisi, kullanılması veya korunması için zorunlu olması
											</li>
											<li>e) Sır saklama yükümlülüğü altında bulunan kişiler veya yetkili kurum ve
												kuruluşlarca, kamu sağlığının korunması, koruyucu hekimlik, tıbbi
												teşhis, tedavi ve bakım hizmetlerinin yürütülmesi ile sağlık
												hizmetlerinin planlanması, yönetimi ve finansmanı amacıyla gerekli
												olması,</li>
											<li>f) İstihdam, iş sağlığı ve güvenliği, sosyal güvenlik, sosyal hizmetler
												ve sosyal yardım alanlarındaki hukuki yükümlülüklerin yerine getirilmesi
												için zorunlu olması,</li>
											<li>g) Siyasi, felsefi, dini veya sendikal amaçlarla kurulan vakıf, dernek
												ve diğer kâr amacı gütmeyen kuruluş ya da oluşumların, tâbi oldukları
												mevzuata ve amaçlarına uygun olmak, faaliyet alanlarıyla sınırlı olmak
												ve üçüncü kişilere açıklanmamak kaydıyla; mevcut veya eski üyelerine ve
												mensuplarına veyahut bu kuruluş ve oluşumlarla düzenli olarak temasta
												olan kişilere yönelik olması,</li>
										</ol>
										<p>halinde “Kurul tarafından belirlenen yeterli önlemlerin alınması” şartıyla
											ilgili kişinin açık rızası aranmaksızın Bulls tarafından işlenebilir.</p>
										<h2>2.8. Kişisel Verilerin İşlenme Amaçları</h2>
										<p>Kişisel veriler, Bulls tarafından aşağıdaki amaçlar kapsamında işlenebilmekte
											olup, bu amaçların ve ilgili yasal sürelerin öngördüğü müddetçe
											saklanabilmektedir:</p>
										<ul>
											<li>Bulls tarafından yasal ve idari yükümlülüklerin yerine getirilmesi,</li>
											<li>Akdedilen/akdedilmesi düşünülen sözleşmelerin müzakeresi, kurulması ve
												ifa edilmesi,</li>
											<li>Yatırımcılar için uygun ürün, hizmet ve platformların belirlenmesi,
												bunların yatırımcılara özel hale getirilmesi ve geliştirilmesi, etkin
												bir müşteri hizmeti sunulması,</li>
											<li>Bulls bünyesindeki birimlerde veya birimler arasında koordinasyon, iş
												birliği ve verimliliğin sağlanması ve geliştirilmesi,</li>
											<li>Bulls’a ait veya Bulls tarafından kullanılan internet sitesi, diğer
												elektronik sistemler ile ve fiziki ortamların güvenliğinin sağlanması,
											</li>
											<li>Yasal mevzuatta veya Bulls’un kabul ettiği kural ve politikalarda
												meydana gelen değişikliklerin bildirilmesi veya veri sahibini
												ilgilendiren diğer bildirimlerin yapılması,</li>
											<li>Bulls’un veya Bulls’un hizmet ve ürünlerinin tanıtım ve pazarlamasının
												yapılması ve bunların geliştirilmesi, anket ve oylamalar ile veri
												sahibinin görüşünün alınması,</li>
											<li>Doğum günü kutlaması, çekiliş veya yarışmalara dahil edilme, hediye
												verilmesi ve veri sahibi lehine olan benzeri diğer etkinlik, promosyon
												ve kampanyaların tanıtılması ve gerçekleştirilmesi,</li>
											<li>Sözleşmeye ve kanuna aykırılıkların soruşturulması, tespiti, önlenmesi
												ve ilgili idari veya adli makamlara bildirilmesi,</li>
											<li>Mevcut ve ileride çıkabilecek hukuki uyuşmazlıkların çözümlenmesi,</li>
											<li>Şirketler ve ortaklıklar hukuku işlemlerinin gerçekleştirilmesi,</li>
											<li>Bulls’un insan kaynakları politikaları çerçevesinde çalışan ihtiyacının
												belirlenmesi, sağlanması ve işe alım süreçlerinin yürütülmesi,
												geliştirilmesi ve iyileştirilmesi,</li>
											<li>İş başvurularının uygunluğunun değerlendirilmesi, sonuçlandırılması ve
												iş başvurusunda bulunan adaylar ile iletişime geçilmesi,</li>
											<li>Bulls’un satış, pazarlama, reklam, kurumsal iletişim, insan kaynakları
												ve halkla ilişkiler politikalarının geliştirilmesi ve iyileştirilmesi,
											</li>
											<li>Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin
												zorunlu olma durumu,</li>
											<li>Veri sahibinin temel hak ve özgürlüklerine zarar vermemek kaydıyla,
												Bulls’un yasal ve meşru çıkarlarının sağlanması, sürdürülmesi ve
												korunmasının söz konusu olması,</li>
											<li>İlgilisinin talep ve sorularının cevaplanması.</li>
										</ul>
										<h2><a name="_Toc510798477"
												class="mce-item-anchor"></a>3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											Kişisel Verilerin Yurtiçi ve Yurtdışına Aktarılması</h2>
										<p>Bulls olarak, KVKK’nun 4’üncü maddesinde sayılan genel ilkelere uymak
											kaydıyla, 8 ve 9’uncu maddelerinde öngörülen şartlara uymak ve gerekli
											güvenlik önlemlerini almak kaydıyla, Politikamızın “Kişisel Verilerin
											İşlenme Amaçları” başlığı altında yer alan amaçlar doğrultusunda kişisel
											verileri yurt içi ve yurt dışındaki üçüncü kişilere aktarabileceği gibi;
											yurt içi ve yurt dışında bulunan sunucularda veya diğer elektronik
											ortamlarda işleyip saklayabilmekteyiz.</p>
										<p>Ayrıca müşteri talebiyle yurt dışı piyasalarda alım-satım işlemlerine
											aracılık hizmeti kapsamında iş ortaklığımız bulunan yabancı kurumlarla
											işlemlerinizin gerçekleştirildiği ilgili borsaların bulunduğu ülkelerde
											sermaye ve finans piyasaları mevzuatlarına ve vergi mevzuatlarına tabi
											olmaları sebebiyle ilgili mevzuatlara ve/veya düzenleyici kurum/kuruluşların
											direktiflerine uyum sağlamamız gerektiğinden kişisel verilerinizi, 6698
											sayılı Kişisel Verilerin Korunması Kanununun kişisel verilerin yurt dışına
											aktarılmasını düzenleyen 9 uncu maddesinin uygulanmasına ilişkin usul ve
											esaslara uygun olarak Ek-2’de yer alan Açık Rıza Beyanı’nız sonucunda yurt
											dışına aktarabilmekteyiz.</p>
										<p>Kişisel verilerin aktarılabileceği üçüncü kişiler, veri sahibi ile Bulls
											arasındaki ilişkinin türü, niteliği ve işlem gerçekleştirilen piyasalar gibi
											çeşitli faktörlere bağlı olarak değişebilmekle birlikte, genel itibariyle
											aşağıda gösterildiği şekilde özetlenebilir.</p>
										<ol>
											<li>Bulls’un bağlı bulunduğu Gruba ait şirketler,</li>
											<li>Sermaye Piyasası Kurulu, Borsa İstanbul, Takasbank, Merkezi Kayıt
												Kuruluşu ve yurt içi ve yurt dışındaki diğer düzenleyici otoriteler,
												borsalar, merkezi takas ve saklama kuruluşları, merkezi karşı taraf olan
												kurum ve kuruluşlar ile diğer yetkili kurum ve kuruluşlarca
												yetkilendirilmiş üçüncü kişiler,</li>
											<li>Bulls’un yurt içi ve yurt dışında çalıştığı yatırım kuruluşları, saklama
												kuruluşları, platform sahipleri, veri yayın kuruluşları, alt yapı
												sağlayıcılar ile diğer iş ortakları, tedarikçileri ve alt yüklenicileri,
											</li>
											<li>Bulls’un veya Grubu’nun yeniden yapılandırılması veya Bulls’un birleşme,
												bölünme veya kontrol değişikliği gibi işlemlere tabi olması halinde,
												ilgili işlemlere taraf üçüncü kişiler.</li>
										</ol>
										<h2><a name="_Toc510798478"
												class="mce-item-anchor"></a>4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											Kişisel Verilerin Toplanması</h2>
										<p>Şirket tarafından işbu Politikanın <strong>‘Kişisel Verilerin İşlenme
												Amaçları’</strong> bölümünde örneklendirilen amaçların karşılanması için
											KVKK’nın 5 ve 6’ncı maddelerinde öngörüler şartlar çerçevesinde direkt
											olarak çalışanlar ve müşterilerden, tedarikçilerden, iş ortaklarından, grup
											şirketlerinden, çağrı merkezinden, resmi kurumlardan ve diğer fiziki
											ortamlardan kişisel veri edinilebileceği gibi, Internet siteleri, mobil
											uygulamalar, sosyal medya ve diğer kamuya açık mecralar veya düzenlenen
											eğitimler, organizasyonlar ve benzeri etkinlikler aracılığı ile de kişisel
											veri toplanabilmektedir.</p>
										<h2><a name="_Toc510798479"
												class="mce-item-anchor"></a>5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											Kişisel Verilerin Saklanma Süresi</h2>
										<p>Hukuken daha uzun bir sürenin gerekli kılındığı veya daha uzun bir süreye
											izin verildiği durumlar hariç olmak üzere, Bulls, kişisel verileri yalnızca
											Politikamızda belirtilen amaçların gerçekleştirilmesi için gerekli olan süre
											zarfında elinde bulundurur. Saklama süresi sona eren kişisel veriler, Bulls
											tarafından, KVKK m.7 ve Kişisel Verilerin Silinmesine, 8 Yok Edilmesine Veya
											Anonim Hâle Getirilmesine İlişkin Usul Ve Esaslara Dair Yönetmelik
											kapsamında silinir, yok edilir veya anonim hale getirilir.</p>
										<table>
											<tbody>
												<tr>
													<td width="189">SÜREÇ</td>
													<td width="214">SAKLAMA SÜRESİ</td>
													<td width="201">İMHA SÜRESİ</td>
												</tr>
												<tr>
													<td width="189">Şirket işlemleri</td>
													<td width="214">10 yıl</td>
													<td width="201">Saklama süresinin bitimini takip eden ilk periyodik
														imha süresinde</td>
												</tr>
												<tr>
													<td width="189">Sözleşmenin hazırlanması</td>
													<td width="214">Sözleşmenin sona ermesini takiben 10 yıl</td>
													<td width="201">Saklama süresinin bitimini takip eden ilk periyodik
														imha süresinde</td>
												</tr>
												<tr>
													<td width="189">Şirket iletişim faaliyetlerinin icrası</td>
													<td width="214">Faaliyetin sona ermesini takiben 10 yıl</td>
													<td width="201">Saklama süresinin bitimini takip eden ilk periyodik
														imha süresinde</td>
												</tr>
												<tr>
													<td width="189">İnsan Kaynakları süreçlerinin yürütülmesi</td>
													<td width="214">Faaliyetin sona ermesini takiben 10 yıl</td>
													<td width="201">Saklama süresinin bitimini takip eden ilk periyodik
														imha süresinde</td>
												</tr>
												<tr>
													<td width="189">Log Kayıt Takip Sistemleri</td>
													<td width="214">10 yıl</td>
													<td width="201">Saklama süresinin bitimini takip eden ilk periyodik
														imha süresinde</td>
												</tr>
												<tr>
													<td width="189">Donanım ve yazılıma erişim süreçlerinin yürütülmesi
													</td>
													<td width="214">2 yıl</td>
													<td width="201">Saklama süresinin bitimini takip eden ilk periyodik
														imha süresinde</td>
												</tr>
												<tr>
													<td width="189">Ziyaretçi ve toplantı etkiniğinin sonra ermesini
														takiben katılımcıların kaydı ve kamera kayıtları</td>
													<td width="214">Etkinliğin sona ermesini takiben 2 yıl</td>
													<td width="201">Saklama süresinin bitimini takip eden ilk periyodik
														imha süresinde</td>
												</tr>
											</tbody>
										</table>
										<p><br></p>
										<h2><a name="_Toc510798480"
												class="mce-item-anchor"></a>6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; KVKK
											Çerçevesinde İlgili Kişinin Hakları</h2>
										<p>KVKK’nın 11. Maddesi kapsamında “veri ilgilisi” olarak tanımlanan, kişisel
											verileri işlenen gerçek kişilerin hakları düzenlenmektedir. İlgili madde
											uyarınca ilgili kişiler VSY üzerinde aşağıdaki haklara sahiptir:</p>
										<ul>
											<li>VSY tarafından kendilerine ait kişisel veri işlenip işlenmediğini
												öğrenme,</li>
											<li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>
											<li>Kişisel verilerinin işlenme amacını ve bunların amacına uygun kullanılıp
												kullanılmadığını öğrenme,</li>
											<li>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü
												kişileri bilme,</li>
											<li>Kişisel verilerin eksik veya yanlış işlenmiş olması halinde bunların
												düzeltilmesini isteme,</li>
											<li>Kişisel verilerin işlenmesini gerektiren sebeplerin ortadan kalkması
												halinde, bunların silinmesini veya yok edilmesini isteme,</li>
											<li>Düzeltme ve silme işlemlerinin kişisel verilerin aktarıldığı üçüncü
												kişilere bildirilmesini isteme,</li>
											<li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz
												edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına
												itiraz etme,</li>
											<li>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara
												uğraması halinde zararın giderilmesini talep etme.</li>
										</ul>
										<p>Yukarıdaki haklardan birinin kullanılması amaçlı olarak veri sahiplerinden
											gelecek talepler, Şirket tarafından en geç 30 gün içerisinde
											karşılanacaktır. Bu talepler Bulls Yatırım Menkul Değerler A.Ş. Esentepe,
											Büyükdere Cd. Levent Plaza No:173 1 B Blok Kat: 5, 34394 Şişli/İstanbul
											adresine kimlik tespit edici belgeler ile bizzat elden teslim edilerek,
											noter kanalıyla aynı adrese gönderilerek veya <a
												href="mailto:bullsyatirim@hs03.kep.tr"
												data-mce-href="mailto:bullsyatirim@hs03.kep.tr">bullsyatirim@hs03.kep.tr</a>
											&nbsp;adresine güvenli elektronik imzalı olarak iletebilecektir.</p>
										<p>Taleplerin ayrıca bir maliyet gerektirmesi durumunda Şirket ilgili mevzuat
											kapsamında belirlenen tutarlarda ücret talep edebilecektir.</p>
										<h2><a name="_Toc510798482"
												class="mce-item-anchor"></a>7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											Kişisel Verilerin Güvenliği</h2>
										<p>KVKK’nun 12’inci maddesi çerçevesinde, Bulls, kişisel verilerin hukuka aykırı
											olarak işlenmesini ve verilere hukuka aykırı olarak erişilmesini önlemek ve
											kişisel verilerin muhafazasını sağlamak amacıyla veri sorumlusu olarak uygun
											güvenlik düzeyini temin etmeye yönelik gerekli teknik ve idari tedbirleri
											almaktadır. Bu amaçla, Bulls tarafından;</p>
										<ol>
											<li>Bulls iş süreçleri, hizmet ve faaliyetlerinin kişisel verilerin
												korunması amacıyla hazırlanan politika ve kurallarımıza uygun
												yürütülmesi hedeflenmektedir,</li>
											<li>KVKK ve mevzuatı, ayrıca bu çerçevede hazırlanan iç politika ve
												kurallarımız konusunda çalışanlarda farkındalık yaratılmasına yönelik
												çalışma ve eğitim faaliyetleri yürütülmektedir,</li>
											<li>Bulls çalışanlarından ve Bulls adına veri işleyen kişi ve kurumlardan,
												iş ortaklarımızdan verilerin gizliliği ve korunması için gerekli beyan
												ve taahhütler alınmakta olup, aykırılıkların oluşmaması için bu beyan ve
												9 taahhütler belirli yaptırımlara bağlanmaktadır,</li>
											<li>KVVK gereğince kişisel verilerin şirket içinde ve dışında güvenliğini
												sağlamak ve verilere yetkisiz erişimi önlemek üzere gerekli bilgi
												güvenliği tedbirleri alınmaktadır.</li>
											<li>KVKK çerçevesinde kişisel verilerin korunması için oluşturulan
												politikamız ve kurallarımıza uygunluğun belirli periyotlarda denetimi
												gerçekleştirilmekte ve sonuçlar düzenli olarak takip edilmek üzere
												Yönetim Kurulumuza raporlanmaktadır,</li>
											<li>KVVK çerçevesince alınan tüm tedbirlerin yeterliliği belirli
												periyotlarda kontrol edilmekte, var olan veri güvenliği sistemimizin
												geliştirilmesi için iç ve dış kaynaklı gelişmelerden faydalanılması
												hedeflenmektedir. <br></li>
										</ol>
										<h1><a name="_Toc480401370" class="mce-item-anchor"></a><a name="_Toc510798483"
												class="mce-item-anchor"></a>3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											ÇEREZLER VE BENZERİ TEKNOLOJİLER</h1>
										<h2><a name="_Toc480401371" class="mce-item-anchor"></a><a name="_Toc510798484"
												class="mce-item-anchor"></a>3.1. Genel</h2>
										<p>Kullanılmakta olan internet tarayıcısı aracılığı ile internet ağ sunucusu
											tarafından kullanıcıların cihazlarına gönderilen küçük veri dosyaları çerez
											olarak anılmakta olup, internet siteleri bu çerezler vasıtası ile
											kullanıcıları tanımaktadır ve çerezlerin ömrü tarayıcı ayarlarına bağlı
											olarak farklılaşmaktadır.</p>
										<p>Bu çerezler, Şirket tarafından yönetilmekte olan sistemler aracılığıyla
											oluşturulmakla birlikte, aynı zamanda Şirket tarafından yetkilendirilen bazı
											hizmet sağlayıcılar kullanıcıların cihazlarına benzeri teknolojiler
											yerleştirerek IP adresi, benzersiz tanımlayıcı ve cihaz tanımlayıcı
											bilgileri edinebilmektedir. Ayrıca, Şirket sistemlerinde bulunan üçüncü
											taraflara ait linkler, bu üçüncü taraflara ait gizlilik politikalarına tabi
											olmakla birlikte, gizlilik uygulamalarına ait sorumluluk Şirket’e ait
											olmamaktadır ve bu bağlamda ilgili link kapsamındaki site ziyaret
											edildiğinde siteye ait gizlilik politikasının okunması önerilmektedir.</p>
										<h2><a name="_Toc480401372" class="mce-item-anchor"></a><a name="_Toc510798485"
												class="mce-item-anchor"></a>3.2. Çerez Türleri</h2>
										<p>Ana kullanım amacı kullanıcılara kolaylık sağlamak olan çerezler, temel
											olarak 4 ana grupta toplanmaktadır:</p>
										<ol>
											<li><strong>Oturum Çerezleri:</strong> İnternet sayfaları arasında bilgi
												taşınması ve kullanıcı tarafından girilen bilgilerin sistemsel olarak
												hatırlanması gibi çeşitli özelliklerden faydalanmaya olanak sağlayan
												çerezlerdir ve Şirket internet sitesine ait fonksiyonların düzgün bir
												şekilde işleyebilmesi için gereklidir.</li>
											<li><strong>Performans Çerezleri:</strong> Sayfaların ziyaret edilme
												frekansı, olası hata iletileri, kullanıcıların ilgili sayfada
												harcadıkları toplam zaman ile birlikte siteyi kullanım desenleri
												konularında bilgi toplayan çerezlerdir ve Şirket internet sitesinin
												performansını arttırma amacıyla kullanılmaktadır.</li>
										</ol>
										<ul>
											<li><strong>Fonksiyonel Çerezler:</strong> Kullanıcıya kolaylık sağlanması
												amacıyla önceden seçili olan seçeneklerin hatırlatılmasını sağlayan
												çerezlerdir ve Şirket internet sitesi kapsamında kullanıcılara gelişmiş
												internet özellikleri sağlanmasını hedeflemektedir.</li>
										</ul>
										<ol>
											<li><strong>Reklam Ve Üçüncü Taraf Çerezleri:</strong> Üçüncü parti
												tedarikçilere ait çerezlerdir ve Şirket internet sitesindeki bazı
												fonksiyonların kullanımına ve reklam takibinin yapılmasına olanak
												sağlamaktadır.</li>
										</ol>
										<h2><a name="_Toc480401373" class="mce-item-anchor"></a><a name="_Toc510798486"
												class="mce-item-anchor"></a>3.3. Çerezlerin Kullanım Amaçları</h2>
										<p>Şirket tarafından kullanılmakta olan çerezlere ait kullanım amaçları
											aşağıdaki gibidir:</p>
										<ol>
											<li><strong>Operasyonel amaçlı kullanımlar:</strong> Şirket, sistemlerinin
												idaresi ve güvenliğinin sağlanması amacıyla, bu sitedeki fonksiyonlardan
												yararlanmayı sağlayan veyahut ta düzensiz davranışları tespit eden
												çerezler kullanabilmektedir.</li>
											<li><strong>İşlevselliğe yönelik kullanımlar:</strong> Şirket, sistemlerinin
												kullanımını kolaylaştırmak ve kullanıcı özelinde kullanım özellikleri
												sağlamak amacıyla, kullanıcıların bilgilerini ve geçmiş seçimlerini
												hatırlatan çerezler kullanabilmektedir.</li>
										</ol>
										<ul>
											<li><strong>Performansa yönelik kullanımlar:</strong> Şirket, sistemlerinin
												performansının artırılması ve ölçülmesi amacıyla, gönderilen iletilerle
												olan etkileşimi ve kullanıcı davranışlarını değerlendiren ve analiz eden
												çerezler kullanabilmektedir.</li>
										</ul>
										<ol>
											<li><strong>Reklam amaçlı kullanımlar:</strong> Şirket, kendine veya üçüncü
												taraflara ait sistemlerin üzerinden kullanıcıların ilgi alanları
												kapsamında reklam ve benzeri içeriklerin iletilmesi amacıyla, bu
												reklamların etkinliğini ölçen veya tıklanma durumunu analiz eden
												çerezler kullanabilmektedir.</li>
										</ol>
										<h2><a name="_Toc480401374" class="mce-item-anchor"></a><a name="_Toc510798487"
												class="mce-item-anchor"></a>3.4. Çerezleri Devre Dışı Bırakmak</h2>
										<p>Çerez kullanımı birçok tarayıcıda önceden tanımlı bir şekilde seçili olarak
											bulunmaktadır ve kullanıcılar bu seçim durumunu tarayıcı ayarlarından
											değiştirebilmekte ve dolayısıyla da mevcut çerezleri silip ileriki çerez
											kullanımlarını da reddedebilmektedir; nitekim çerez kullanımının iptal
											edilmesi halinde Şirket sistemlerindeki bir takım özelliklerden
											faydalanılamaması söz konusu olabilmektedir.</p>
										<p>Çerez kullanım seçiminin değiştirilmesine ait yöntem, tarayıcı tipine bağlı
											olarak değişmekte olup, ilgili hizmet sağlayıcıdan dilendiği zaman
											öğrenilebilmektedir.</p>
										<h2>3.5. Hizmet Sağlayıcılarının Faaliyetleri</h2>
										<p>Bulls internet siteleri, platform ve uygulamaları ile hizmetlerinin
											yürütülmesi ve tanıtımı için yetki verdiğimiz hizmet sağlayıcılardan destek
											alınması söz konusu olabilir. Bu hizmet sağlayıcılar da kullanıcıların
											bilgisayarına / cihazına çerezler ve benzeri teknolojiler (üçüncü kişi
											çerezleri) yerleştirebilecek ve kullanıcı cihazını tespit etmeye yönelik IP
											adresi, benzersiz tanımlayıcı (unique identifier) ve cihaz tanımlayıcı gibi
											bilgileri toplayabilecektir.</p>
										<h2>3.6. İnternet Sitemizde Yer Alan Üçüncü Kişilere Ait İnternet Site, Ürün ve
											Hizmetler</h2>
										<p>Bulls internet siteleri, platform ve uygulamaları, üçüncü kişilere ve başka
											kuruluşlara ait internet siteleri ve bu sitelerde yer alan ürün ve
											hizmetlere ilişkin linkler içerebilmektedir. Bu linklerin internet
											sitelerimizde yer alması dolayısı ile Bulls üçüncü kişilerin gizlilik
											uygulamalarından sorumlu tutulamaz.</p>
										<p>Bulls’un internet sitelerinde yer almasına rağmen kuruluşumuza ait olmayan
											üçüncü kişilerle ilgili veya üçüncü kişilere ait linkler, üçüncü kişilere
											ait gizlilik politikalarına tabi olup, web sitelerimizde yer alması
											nedeniyle ile ulaşılan internet sitelerinin ziyaret edilmesi durumunda, bu
											sitelerin gizlilik politikalarının incelenmesini önermekteyiz.</p>
										<ul>
											<li><strong>YÜRÜRLÜK VE GÜNCELLEMELER</strong></li>
										</ul>
										<p>İşbu Politika, Şirket Yönetim Kurulu tarafından onaylandığı tarihte yürürlüğe
											girecektir. Politika’da yapılacak değişiklikler Şirket Genel Müdürü’nün
											onayından sonra yürürlüğe girecektir. Politika, olağan olarak yılda bir defa
											gözden geçirilerek güncellenir. Ancak mevzuat değişiklikleri, atıf yapılan
											bir teknik standarttaki değişme, Kişisel Veri Koruma Kurulu’nun işlemleri
											ve/veya vereceği kararlar ile mahkeme kararları doğrultusunda Şirket bu
											Politika’yı gözden geçirme ve gerekli durumlarda politikayı güncelleme,
											değiştirme veya ortadan kaldırıp yeni bir politika oluşturma hakkını saklı
											tutar. Politika’nın yürürlükten kaldırılmasına ilişkin olarak karar verme
											yetkisi Şirket Yönetim Kurulu’na aittir.</p>
										<p>Kişisel Verilerin Korunması ve Gizlilik Politikamızda gerekli görülen
											durumlarda değişiklik yapılabilecek olup, Bulls’un <a href=""
												data-mce-href=""></a> internet sitesinden güncel politikamıza
											ulaşılabilecektir. Değişiklikler Bulls internet sitesine yükleme yapıldığı
											tarih itibariyle geçerlilik kazanacak olup, gerekli görmesi halinde Bulls
											değişiklikleri, uygun gördüğü yöntemlerle de bildirebilecektir</p>
										<p><br></p>
									</div>
								</section><a href="upload/files/2025/1-6/hukuk/2-kvkk-gizlilik-politikasi.pdf"
									target="_blank" class="btn btn-p ra-1 px-3 dosya">PDF İçin Tıklayınız! &nbsp; -
									&nbsp; 249 KB </a>
								<a href="<%= site %>/register"
									class="btn btn-p col-lg-a col-12 hesap-ac musteri-ol btn tc dib mx-a mt-4 ra-1 px-5 py-2">
									Şimdi Hesap Açın <i class="bi bi-hand-index-thumb pl-1 "></i> </a>
							</article>
						</div>
					</div>
				</div>
			</div>
			<div class="print-info dn">gizlilik-politikasi</div>
			<%- include("layouts/footer") %>
				<div class="popup_main esube-popup-container overlay oh pf p-4 px-md-5 py-lg-5 closen dn">
					<div class="overlay-blur pa"></div>
					<div class="popup_main_container container-lg" alt="0"> <b class="closex pa"></b> <a
							href="https://sanalsube.bullsyatirim.com:8000/login" target="_blank"
							class="df aic jcc popup-inside"><img src="upload/main/popup/desktop-esube.webp"
								class="popup-img dn db-lg" /><img src="upload/main/popup/mobil-esube.webp"
								class="popup-img db dn-lg" /> </a> </div>
				</div>
	</body>
	<div class="toast jstoast"></div>

	<div class="scrollup pf r-0 mb-5 mx-3 aic jcc ra-circle">
		<i class="fa fa-angle-up dn"></i>
		<i class="bi bi-chevron-up"></i>
	</div>


	<div class="dn">
		<div class="spinner-border loading t-s vam mr-2"></div>
	</div>

</html>