<!DOCTYPE HTML>
<html lang="tr">
<%- include("layouts/head") %>

	<body>

		<%- include("layouts/header") %>
			<div class="main middle">
				<div class="homepage">
					<div class="home-component">
						<div class="bg-slider py-3 py-md-5 oh">
							<div class="py-lg-5 px-0">
								<div class="bg-slider-bottom">
									<div class="container">
										<div class="row fdc fdr-lg">
											<div class="col main-slider">
												<div class="df ais fdc fdr-lg h-100 slider-scope ">
													<div class="col-12 col-lg-55 slider-left pl-0 pr-0 ">
														<div class="df fdr fnw h-75 minh12 pt-md-2">
															<div class="slider-text col-12 pa-md t-f "
																data-aos2="fade-down" data-aos="zoom-out-down">
																<h3 class="f-16 fw-700 pt-3 pt-md-0">Bulls Yatırım Emir
																	Gerçekleştirmelerinde Anlık Bildirim Başladı!</h3>
																<span class="f-11 pt-3 dn db-md fw-300">Sayın
																	Yatırımcılarımız,
																	<br>Bulls Yatırım mobil uygulamamız üzerinden hisse
																	senedi
																	emir gerçekleşmeleri artık anlık push bildirim
																	olarak
																	tarafınıza iletilmektedir. Böylece işlemleriniz
																	tamamlandığında uygulamanızda anında
																	haberdar olabilirsiniz.</span> <a
																	href="bulls-yatirim-mobil-uygulama"
																	class="btn px-4 btn-l ok f-09 mt-3">Detaylı Bilgi
																	İçin
																	Tıklayınız!</a>
															</div>
															<div class="slider-text col-12 pa-md t-f "
																data-aos2="fade-down" data-aos="zoom-out-down">
																<h3 class="f-16 fw-700 pt-3 pt-md-0">Bulls Yatırım ile
																	Canlı
																	Borsa Verileri Ücretsiz!</h3> <span
																	class="f-11 pt-3 dn db-md fw-300">Bulls Yatırım,
																	hesap
																	açan
																	herkese, hiçbir bakiye veya işlem hacmi şartı
																	olmaksızın
																	canlı borsa verilerine ücretsiz olarak erişim
																	sağlıyor!
																	Hemen hesabınızı açın, piyasayı anlık olarak takip
																	edin!</span> <a href="bulls-trader-mobil-uygulama"
																	class="btn px-4 btn-l ok f-09 mt-3">Bulls Trader´ı
																	İndir</a>
															</div>
															<div class="slider-text col-12 pa-md t-f "
																data-aos2="fade-down" data-aos="zoom-out-down">
																<h3 class="f-16 fw-700 pt-3 pt-md-0">Bulls Yatırım,
																	İzmir´deki
																	İkinci Şubesini Açtı!</h3> <span
																	class="f-11 pt-3 dn db-md fw-300">Bulls Yatırım
																	Menkul
																	Değer­ler A.Ş.’nin İzmir’deki ikinci şubesi Konak’ta
																	16
																	Ağustos 2025 Cumartesi günü düzenlenen bir törenle
																	hizmete
																	girdi.</span> <a
																	href="bulls-yatirim-izmirdeki-ikinci-subesini-acti"
																	class="btn px-4 btn-l ok f-09 mt-3">Detaylı Bilgi
																	İçin
																	Tıklayınız!</a>
															</div>
															<div class="slider-text col-12 pa-md t-f "
																data-aos2="fade-down" data-aos="zoom-out-down">
																<h3 class="f-16 fw-700 pt-3 pt-md-0">BHA- TL Fon
																	Yatırımcısıyla
																	Buluştu!</h3> <span
																	class="f-11 pt-3 dn db-md fw-300">Bulls
																	Portföy, BHA–Bulls Portföy Hisse Senedi (TL) Fonu’nu
																	yatırımcılara sundu. Şirketin portföy yönetimi
																	vizyonuna
																	paralel olarak oluşturulan yeni fon, yerli hisse
																	senetlerine
																	yoğunlaşan stratejisiyle öne çıkıyor...</span> <a
																	href="1281--1281"
																	class="btn px-4 btn-l ok f-09 mt-3">Detaylı Bilgi
																	İçin
																	Tıklayınız!</a>
															</div>
															<div class="slider-text col-12 pa-md t-f "
																data-aos2="fade-down" data-aos="zoom-out-down">
																<h3 class="f-16 fw-700 pt-3 pt-md-0">BULLS YATIRIM’DA
																	2025´TE DE
																	HESAP İŞLETİM ÜCRETİ YOK!</h3> <span
																	class="f-11 pt-3 dn db-md fw-300">Bulls Yatırım,
																	bütün
																	müşterilerine HESAP İŞLETİM ÜCRETİ ÖDEMEDEN yatırım
																	yapma
																	imkanı sunuyor. Bu fırsattan yararlanmak için
																	dakikalar
																	içinde ONLİNE HESAP açabilir, ÜCRETSİZ CANLI BORSA
																	VERİSİ ve
																	daha birçok avantajdan faydalanabilirsiniz...</span>
																<a href="<%= site %>/register"
																	class="btn px-4 btn-l ok f-09 mt-3">Hemen Şimdi
																	Başvurun!</a>
															</div>
															<div class="slider-text col-12 pa-md t-f "
																data-aos2="fade-down" data-aos="zoom-out-down">
																<h3 class="f-16 fw-700 pt-3 pt-md-0">Dolandırıcılık
																	Olaylarına
																	Yönelik Güvenlik Uyarısı ve İzinsiz Sermaye Piyasası
																	Faaliyetlerine İlişkin Bilgilendirme</h3> <span
																	class="f-11 pt-3 dn db-md fw-300">Son zamanlarda,
																	Telegram
																	ve WhatsApp gruplarında Bulls Yatırım adına yapılan
																	sahte
																	paylaşımlar hakkında dikkatli olunuz. Dolandırıcılık
																	girişimlerine karşı sadece resmi iletişim
																	kanallarımızı
																	kullanmanızı önemle rica ederiz.</span> <a
																	href="onemli-duyuru-dolandiricilara-itibar-etmeyiniz"
																	class="btn px-4 btn-l ok f-09 mt-3">Önemli
																	Duyuru</a>
															</div>
															<div class="slider-text col-12 pa-md t-f "
																data-aos2="fade-down" data-aos="zoom-out-down">
																<h3 class="f-16 fw-700 pt-3 pt-md-0">Online Yatırım
																	Merkezimiz
																</h3> <span class="f-11 pt-3 dn db-md fw-300">Online
																	Yatırım
																	Merkezimizden dilediğiniz zaman işlemlerinizi
																	yürütebilirsiniz.</span> <a href="<%= site %>"
																	class="btn px-4 btn-l ok f-09 mt-3">Detaylı
																	Bilgi</a>
															</div>
														</div>
														<div class="slider-control-slot pt-2 pt-md-5 pt-md-0">
														</div>
													</div>
													<div class="col-12 col-md slider-right vh ">
														<div class="px-0 slider df">
															<div
																class="slider-item col-12 df px-4 px-md-0 pt-2 pb-0 pb-lg-5 aic aifs-md jcc">
																<img src="upload/images/slider/kucultme/bulls-yatirim-slider-gorsel.webp"
																	class="ra-1" draggable="false">
															</div>
														</div>
														<div class="col-12 px-2 px-md-0 b-0"> <img
																src="upload/main/platform.png" class="w-100" /> </div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="home-component">
						<div class="bg-2 grid-structure py-0">
							<div class="container-lg tc t-lg-l py-3">
								<div class="row py-2 my-0">
									<div class="col-6 col-lg-3 lhn mb-3 mb-md-0"> <a href="#"
											class="df t-bulls fdc fdr-lg">
											<div class="img-c pr-0 pt-1 coin h-100"> <img
													src="upload/images/mainpage/iconweb-newspaper-r.webp"
													class="img-fluid " />
											</div>
											<div class="col-12 col-lg-8 p-1 pl-lg-3">
												<h3 class="fw-700 mb-1">Basında Biz</h3> <span
													class=" f-09 lh-13 dn db-md">Basında <br>Bulls Yatırım!</span>
											</div>
										</a> </div>
									<div class="col-6 col-lg-3 lhn mb-3 mb-md-0"> <a href="#"
											class="df t-bulls fdc fdr-lg">
											<div class="img-c pr-0 pt-1 coin h-100"> <img
													src="upload/images/mainpage/icon-web--3.webp" class="img-fluid " />
											</div>
											<div class="col-12 col-lg-8 p-1 pl-lg-3">
												<h3 class="fw-700 mb-1">Yatırım <br>Merkezlerimiz</h3> <span
													class=" f-09 lh-13 dn db-md">Şubelerimiz ile Hizmetinizdeyiz!</span>
											</div>
										</a> </div>
									<div class="col-6 col-lg-3 lhn mb-3 mb-md-0"> <a href="#"
											class="df t-bulls fdc fdr-lg">
											<div class="img-c pr-0 pt-1 coin h-100"> <img
													src="upload/images/mainpage/icon-web--2.webp" class="img-fluid " />
											</div>
											<div class="col-12 col-lg-8 p-1 pl-lg-3">
												<h3 class="fw-700 mb-1">Bize <br>Ulaşın</h3> <span
													class=" f-09 lh-13 dn db-md">Bulls Yatırım Hizmetleri için Bize
													Ulaşın!</span>
											</div>
										</a> </div>
									<div class="col-6 col-lg-3 lhn mb-3 mb-md-0"> <a href="<%= site %>/register"
											class="df t-bulls fdc fdr-lg">
											<div class="img-c pr-0 pt-1 coin h-100"> <img
													src="upload/images/mainpage/icon-web--1.webp" class="img-fluid " />
											</div>
											<div class="col-12 col-lg-8 p-1 pl-lg-3">
												<h3 class="fw-700 mb-1">Bulls Yatırım <br>Hizmetleri</h3> <span
													class=" f-09 lh-13 dn db-md">Uzmanlar Tarafından Sunulan Profesyonel
													Hizmet!</span>
											</div>
										</a> </div>
								</div>
							</div>
						</div>
					</div>
					<div class="home-component">
						<div class="bg-lb2 py-0 py-md-5 home-jumbotron">
							<div class="py-4">
							</div>
							<div class="container-lg">
								<div class="df fdc fdr-md bg-jumbotron ra-1 jumbotron">
									<div class="col-12 col-md-6 t-lb px-4 pb-4 pt-0 pt-md-4 px-md-5 lh-1 effect">
										<div class="py-2 py-md-4">
											<h2 class="mb-0 fw-400 f-2">
												<b>Bulls Yatırım ile <br>Yatırım Yapmaya <br>
												</b>Bugün
												Başlayın!
											</h2> <a href="<%= site %>/register"
												class="btn btn-l mt-4 mt-md-3 ra-1 ok">Hesap
												Açın</a>
										</div>
									</div>
									<div class="col-12 col-md-5 pl-md-5 ml-md-5 pl-0 db-md or-first or-md-1"> <img
											src="upload/images/mainpage/jumbo-1.webp" class="pr pa-md b-0" /> </div>
								</div>
							</div>
						</div>
					</div>
					<div class="home-component">
						<div class="bg-lb2 duyurular ">
							<div class="container-lg p-0 fix ">
								<div class="slider df t-efl pt-5 pb-3">
									<div class="slider-item col-12 px-2">
										<div class="df fw aifs h-100 bg-f ra-1 p-0">
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="1/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">15</div>
														<div class="f-11 lh-1 fw-400">Eylül </div>
													</div> <a href="#"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Borsa’da Temel Analiz Semineri Bulls
															Yatırım’da!</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="2/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">06</div>
														<div class="f-11 lh-1 fw-400">Haziran </div>
													</div> <a href="#"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">USD Grubu Kontratlarda Risk Parametre
															Değişiklikleri Hakkında</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="3/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="#"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Yatırımcı Rehberi 2007 ( pdf )</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="4/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="#"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Sermaye Piyasası Kurulu 2007/6
															Haftalık
															Bülten
															05/02/2007 - 09/02/2007 (05/02/2007)</h3>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="slider-item col-12 px-2">
										<div class="df fw ais h-100 bg-f ra-1 p-0">
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="5/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="#"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Sermaye Piyasası Kurulu´nun 06.12.2006
															tarih
															ve 51/1462 sayılı kararı uyarınca yapılması zorunlu duyuru
															(06/12/2006)</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="6/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="#"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">22/07/2013 - Müşterilerimizin
															Dikkatine!
															Yatırımcı Bazında Tedbir Düzenlemesi Hakkında Duyuru</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="7/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="#"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">MKK e-CAS Uygulaması Yatırımcı
															Bilgilendirme
															Duyurusu ( pdf )</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="8/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="#"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Yatırım Kuruluşlarının Kuruluş ve
															Faaliyet
															Esasları Hakkında Tebliğ</h3>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="slider-item col-12 px-2">
										<div class="df fw ais h-100 bg-f ra-1 p-0">
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="9/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="tspb-genel-mektup-753-brexit-referandumu-hk"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">TSPB Genel Mektup - 753 - Brexit
															Referandumu
															Hk.</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="10/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="4-5-kasim-2016-sermaye-piyasalari-kongresi-hk"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">4-5 Kasım 2016 Sermaye Piyasaları
															Kongresi
															hk.
														</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="11/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a
														href="yatirimci-tazmin-merkezi-pay-satis-duyurusu-hakkinda"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Yatırımcı Tazmin Merkezi Pay Satış
															Duyurusu
															Hakkında</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="12/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a
														href="sermaye-piyasasi-kuruluna-05-03-2018-tarih-ve-141-sayili-yazimiz-ile-kaldiracli-alim-satim-islemleri-faaliyet-izninden-kismen-feragat-etme-talebinde-bulunulmustur-sermaye-piyasasi-kurulu-nun-02-04-2018-tarih-ve-e-3740-sayili-yazil"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Sermaye Piyasası Kuruluna 05.03.2018
															tarih
															ve
															141 sayılı yazımız ile kaldıraçlı alım satım işlemleri
															faaliyet
															izninden kısmen feragat etme talebinde bulunulmuştur.
															Sermaye
															Piyasası Kurulu´nun 02.04.2018 tarih ve E.3740 sayılı
															yazıları
														</h3>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="slider-item col-12 px-2">
										<div class="df fw ais h-100 bg-f ra-1 p-0">
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="13/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="2019-2022-yilinda-devredilecek-hesaplar"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">2019 - 2022 Yılında Devredilecek
															Hesaplar
														</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="14/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="2023-yilinda-devredilecek-hesaplar"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">2023 Yılında Devredilecek Hesaplar
														</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="15/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="acil-ve-beklenmedik-durum-ve-is-surekliligi-plani"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Acil ve Beklenmedik Durum ve İş
															Sürekliliği
															Planı</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="16/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="pay-piyasasinda-pazar-yapilanmasi-hakkinda-duyuru"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Pay Piyasası’nda Pazar Yapılanması
															Hakkında
															Duyuru</h3>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="slider-item col-12 px-2">
										<div class="df fw ais h-100 bg-f ra-1 p-0">
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="17/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="16-ekim-2019-spk-duyurusu-banka-depo-sarti"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">16 Ekim 2019 SPK Duyurusu Banka Depo
															Şartı
														</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="18/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="guvenliginiz-icin-pdf"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Güvenliğiniz İçin</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="19/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="spk-koronovirus-onlemleri"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">SPK Koronovirüs Önlemleri</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="20/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="web-sitesi-asgari-unsurlari"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Web Sitesi Asgari Unsurları</h3>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="slider-item col-12 px-2">
										<div class="df fw ais h-100 bg-f ra-1 p-0">
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="21/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="kisisel-verilerin-islenmesi-aydinlatma-bildirimi"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Kişisel Verilerin İşlenmesi Aydınlatma
															Bildirimi</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="22/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a
														href="profesyonel-musterilerin-yararlanamayacaklari-mevzuat-hukumleri"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Profesyonel Müşterilerin
															Yararlanamayacakları
															Mevzuat Hükümleri</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="23/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a
														href="sermaye-piyasasi-kurulu-ndan-araci-kurumlarin-kamuyu-aydinlatma-esaslarina-iliskin-duyuru-23-02-2004"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Sermaye Piyasası Kurulu´ndan Aracı
															Kurumların
															Kamuyu Aydınlatma Esaslarına İlişkin Duyuru (23/02/2004)
														</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="24/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a
														href="musterilerin-18-10-2006-tarihinde-resmi-gazete-de-yayimlanan-5549-sayili-suc-gelirlerinin-aklanmasinin-onlenmesi-hakkinda-kanunda-yer-alan-bildirim-zorunlulugu-31-10-2008"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Müşterilerin 18.10.2006 tarihinde
															Resmi
															Gazete´de yayımlanan 5549 sayılı Suç Gelirlerinin
															Aklanmasının
															Önlenmesi Hakkında Kanunda Yer Alan Bildirim Zorunluluğu
															(31/10/2008)</h3>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="slider-item col-12 px-2">
										<div class="df fw ais h-100 bg-f ra-1 p-0">
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="25/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="cerez-politikasi"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Çerez Politikası</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="26/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">08</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="ucretlendirme-ve-masraf-tablosu"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Ücretlendirme ve Masraf Tablosu</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50-- p-1 duyuru-frame" alt="27/27">
												<div class="df aifs b-- hvr ra-1 py-1 h-100 oh">
													<div class="col-3 col-md-2 pr-2 pr-md-0 duyuru-gun tc p-1 dn">
														<div class="f-15 fw-400 lh-1">02</div>
														<div class="f-11 lh-1 fw-400">Nisan </div>
													</div> <a href="onemli-duyuru-dolandiricilara-itibar-etmeyiniz"
														class="col h-100 pl-md-3 t-efl p-1 pl-3 aifs pb-md-3"> <b
															class="dib badge py-1 px-3 ra-1 bg-efl t-f mr-1 mb-1">Duyuru</b>
														<h3 class="di h-100 pb-1">Önemli Duyuru</h3>
													</a>
												</div>
											</div>
											<div class="col-12 col-lg-6 h-50 p-1 duyuru-frame empty">
											</div>
										</div>
									</div> <!-- Last --> <!-- duyurular slider start -->
								</div>
							</div>
						</div>
					</div>
					<div class="home-component">
						<div id="market-data" class="py-1 bg-lb2">
							<div class="container-lg py-4 fix">
								<div class="df fw ais ">
									<div class="col-12 col-lg-4 pr-2">
										<div class="tab-container piyasaveri">
											<ul class="tab nav b0 p-0 ra-0 tab-theme-1">
												<li class="ra-0 m-0 col">Endeks</li>
												<li class="ra-0 m-0 col">Döviz</li>
												<li class="ra-0 m-0 col">Altın</li>
												<li class="ra-0 m-0 col">Diğer</li>
											</ul>
											<div class="p-0 pb-2 pt-4 usn">
												<div class="">
													<table class="w-100 piyasaveri-change-table f-09">
														<thead>
															<tr class="t-se">
																<th>
																</th>
																<th>Son Değer</th>
																<th>Değişim</th>
															</tr>
														</thead>
														<tbody>
															<tr class="active" alt="XU100">
																<td> <i class="bi bi-caret-up-fill">
																	</i> BİST100 </td>
																<td>10.971,52</td>
																<td>%1,24</td>
															</tr>
															<tr class="" alt="XU030">
																<td> <i class="bi bi-caret-up-fill">
																	</i> BİST30 </td>
																<td>11.940,86</td>
																<td>%1,19</td>
															</tr>
															<tr class="" alt="XLBNK">
																<td> <i class="bi bi-caret-up-fill">
																	</i> BİST BANKA </td>
																<td>13.259,37</td>
																<td>%2,87</td>
															</tr>
															<tr class="" alt="X10XB">
																<td> <i class="bi bi-caret-up-fill">
																	</i> BANKA DISI LIKIT 10
																</td>
																<td>13.955,45</td>
																<td>%0,62</td>
															</tr>
															<tr class="" alt="X30YVADE">
																<td> <i class="bi bi-caret-up-fill">
																	</i> VİOP 30 YAKIN </td>
																<td>12.620,00</td>
																<td>%1,62</td>
															</tr>
															<tr class="" alt="XLBNKYVADE">
																<td> <i class="bi bi-caret-up-fill">
																	</i> XLBNK YAKIN </td>
																<td>14.060,00</td>
																<td>%3,16</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="">
													<table class="w-100 piyasaveri-change-table f-09">
														<thead>
															<tr class="t-se">
																<th>
																</th>
																<th>Son Değer</th>
																<th>Değişim</th>
															</tr>
														</thead>
														<tbody>
															<tr alt="USDTRY">
																<td>
																	<i class="bi bi-caret-up-fill">
																	</i> USDTRY
																</td>
																<td>42,060</td>
																<td>%0,23</td>
															</tr>
															<tr alt="EURTRY">
																<td>
																	<i class="bi bi-caret-down-fill">
																	</i> EURTRY
																</td>
																<td>48,514</td>
																<td>%-0,04</td>
															</tr>
															<tr alt="GBPTRY">
																<td>
																	<i class="bi bi-caret-down-fill">
																	</i> GBPTRY
																</td>
																<td>55,296</td>
																<td>%-0,01</td>
															</tr>
															<tr alt="EURUSD">
																<td>
																	<i class="bi bi-caret-down-fill">
																	</i> EURO/USD
																</td>
																<td>1,154</td>
																<td>%-0,24</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="">
													<table class="w-100 piyasaveri-change-table f-09">
														<thead>
															<tr class="t-se">
																<th>
																</th>
																<th>Son Değer</th>
																<th>Değişim</th>
															</tr>
														</thead>
														<tbody>
															<tr alt="XAUUSD">
																<td>
																	<i class="bi bi-caret-down-fill">
																	</i> ONS ALTIN $
																</td>
																<td>4.002,710</td>
																<td>%-0,54</td>
															</tr>
															<tr alt="GLDGR">
																<td>
																	<i class="bi bi-caret-down-fill">
																	</i> GRAM ALTIN TL
																</td>
																<td>5.412,700</td>
																<td>%-0,31</td>
															</tr>
															<tr alt="SGLDC">
																<td>
																	<i class="bi bi-caret-down-fill">
																	</i> ÇEYREK ALTIN
																</td>
																<td>8.761,280</td>
																<td>%-0,23</td>
															</tr>
															<tr alt="SGLDY">
																<td>
																	<i class="bi bi-caret-down-fill">
																	</i> YARIM ALTIN
																</td>
																<td>17.522,560</td>
																<td>%-0,23</td>
															</tr>
															<tr alt="SGLDT">
																<td>
																	<i class="bi bi-caret-down-fill">
																	</i> TAM ALTIN
																</td>
																<td>34.991,040</td>
																<td>%-0,23</td>
															</tr>
															<tr alt="SCUM">
																<td>
																	<i class="bi bi-caret-down-fill">
																	</i> CUMHURİYET ALTINI
																</td>
																<td>37.538,560</td>
																<td>%-0,20</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="">
													<table class="w-100 piyasaveri-change-table f-09">
														<thead>
															<tr class="t-se">
																<th>
																</th>
																<th>Son Değer</th>
																<th>Değişim</th>
															</tr>
														</thead>
														<tbody>
															<tr alt="BRENT">
																<td>
																	<i class="bi bi-caret-up-fill">
																	</i> BRENT PETROL
																</td>
																<td>64,573</td>
																<td>%0,88</td>
															</tr>
															<tr alt="BTC_USDT">
																<td>
																	<i class="bi bi-caret-up-fill">
																	</i> BITCOIN $
																</td>
																<td>109.956,000</td>
																<td>%0,00</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="market-data-notify pt-3 f-08 t-se pb-4 mt-2 bs1"> *Veriler, en az 15
											dakika
											gecikmeli olarak gelmektedir. Borsa İstanbul seans saatleri içerisinde
											veriler
											temin
											edilmekte olup Borsa İstanbul'un kapalı olduğu gün ve saatlerde son işlem
											gününün
											kapanış verisi yansıtılmaktadır. </div>
									</div>
									<div
										class="col-12 col-lg-8 tc pl-0 pl-lg-3 main-market-chart-container usn oh pt-1 pr-1">
										<div class="bg-f bs6-- bs1 b-- ra-1 px-2 px-lg-2 pr-lg-0 pb-3">
											<div class="df aic jcsb px-2 pt-3 pb-3">
												<div class="chart-nest-title df aic pt-3 py-md-0">BİST100</div>
												<div class="chart-filter dif fdr fnw jcsb jcr-md nav tab tab-theme-1">
													<button class="px-2 px-md-3 py-2 f-08 six_months"
														title="6 Months">6A</button>
													<button class="px-2 px-md-3 py-2 f-08 one_year"
														title="1 Year">1Y</button>
													<button class="px-2 px-md-3 py-2 f-08 active all"
														title="3 Years">3Y</button>
												</div>
											</div>
											<div id="home_chart" class="chart col-12 px-0">
											</div>
										</div>
									</div>
								</div>
								<div class="df jcc py-5"> <a href="hisse-senetleri" class="dif aic btn btn-p px-5 mt-4">
										<i class="bi bi-search pr-1">
										</i> Tüm Hisse Senetleri İçin Tıklayınız</a> </div>
							</div>
						</div>
					</div>
					<div class="home-component">
						<div class="bg-lb2 pt-4 pt-lg-0 gunluk-bulten">
							<div class="container-lg">
								<div class="row jcc jcl-lg px-lg-1 aic pt-lg-5 pb-0">
									<div class="col-12 py-0 pb-md-5 pl-0 pl-lg-2 pr-0 pr-lg-2 tc t-lg-l"
										style="width:18rem;">
										<h2 class="f-16 fw-700 mb-1">Günlük Bülten</h2> <span
											class="db f-14 fw-400 mt-0 mb-4 dn-mobile">Analiz & Yorumlar</span> <span
											class="db f-12 fw-400 pb-3">Bulls Yatırım İle En Son Haberleri Takip
											Edin</span>
										<div class="slider-control-slot">
										</div>
									</div>
									<div class="col-lg col-12 px-0 py-2 mt-lg-0 slider-scope">
										<div class="sc">
											<ul class="carousel w-100 py-3 pb-4 vh df ais lsn" alt="2.6">
												<li
													class="slider-item col-12 col-sm-6 col-md-5 px-4 px-sm-2 m-0 py-0 row jcc aifs">
													<div class="bs1 bg-fff ra-1 oh p-0 h-100">
														<div class="img-c p-0 tc bb mb-3"> <img
																src="upload/main/default.png" class="img-fluid w-100">
														</div>
														<div class="pb-3" style="padding:0 1.36rem;">
															<p class="f-08 t-lg db tarih mb-1">Ekim 31, 2025</p>
															<h3 class="fw-700 f-12 mb-3">Ereğli Demir Çelik - Mevsimsel
																Dinamikler Raporu</h3> <span class="f-09 db mb-3">Hisse
																senetlerinde mevsimsellik belirli dönemlerde
																(Ay,Çeyrek,Yıl)
																fiyatların veya getirilerin düzenli olarak ...</span> 
														</div>
													</div>
												</li>
												<li
													class="slider-item col-12 col-sm-6 col-md-5 px-4 px-sm-2 m-0 py-0 row jcc aifs">
													<div class="bs1 bg-fff ra-1 oh p-0 h-100">
														<div class="img-c p-0 tc bb mb-3"> <img
																src="upload/images/arastirma/1.png"
																class="img-fluid w-100">
														</div>
														<div class="pb-3" style="padding:0 1.36rem;">
															<p class="f-08 t-lg db tarih mb-1">Ekim 31, 2025</p>
															<h3 class="fw-700 f-12 mb-3">Günlük Bülten</h3> <span
																class="f-09 db mb-3">Güne başlarken… BIST 100 endeksi
																dün
																günü
																%0,31 azalışla 10.837 puandan tamamladı. İşlem hacmi
																121,2
																milyar TL...</span> 
														</div>
													</div>
												</li>
												<li
													class="slider-item col-12 col-sm-6 col-md-5 px-4 px-sm-2 m-0 py-0 row jcc aifs">
													<div class="bs1 bg-fff ra-1 oh p-0 h-100">
														<div class="img-c p-0 tc bb mb-3"> <img
																src="upload/images/arastirma/1.png"
																class="img-fluid w-100">
														</div>
														<div class="pb-3" style="padding:0 1.36rem;">
															<p class="f-08 t-lg db tarih mb-1">Ekim 30, 2025</p>
															<h3 class="fw-700 f-12 mb-3">Günlük Bülten</h3> <span
																class="f-09 db mb-3">Güne başlarken… BIST 100 endeksi
																salı
																günü
																%0,16 artışla 10.871 puandan tamamladı. İşlem hacmi 49,2
																milyar
																TL ...</span>
														</div>
													</div>
												</li>
												<li
													class="slider-item col-12 col-sm-6 col-md-5 px-4 px-sm-2 m-0 py-0 row jcc aifs">
													<div class="bs1 bg-fff ra-1 oh p-0 h-100">
														<div class="img-c p-0 tc bb mb-3"> <img
																src="upload/main/default.png" class="img-fluid w-100">
														</div>
														<div class="pb-3" style="padding:0 1.36rem;">
															<p class="f-08 t-lg db tarih mb-1">Ekim 30, 2025</p>
															<h3 class="fw-700 f-12 mb-3">Etilen-Nafta Makası</h3> <span
																class="f-09 db mb-3">Etilen Nafta Makası 24 Ekim
																itibariyle
																haftalık %20,3 azalışla 161 dolar seviyesine düştü.
																Haftalık
																olarak E...</span>
														</div>
													</div>
												</li>
												<li
													class="slider-item col-12 col-sm-6 col-md-5 px-4 px-sm-2 m-0 py-0 row jcc aifs">
													<div class="bs1 bg-fff ra-1 oh p-0 h-100">
														<div class="img-c p-0 tc bb mb-3"> <img
																src="upload/images/arastirma/teknik-analiz-bulteni-bulls-yatirim.png"
																class="img-fluid w-100"> </div>
														<div class="pb-3" style="padding:0 1.36rem;">
															<p class="f-08 t-lg db tarih mb-1">Ekim 30, 2025</p>
															<h3 class="fw-700 f-12 mb-3">Teknik Bülten</h3> <span
																class="f-09 db mb-3">BIST 100 endeksi, Salı günkü yarım
																seans
																işlemlerini %0,16 oranında sınırlı bir yükselişle 10.871
																puandan
																tama...</span>
														</div>
													</div>
												</li>
												<li
													class="slider-item col-12 col-sm-6 col-md-5 px-4 px-sm-2 m-0 py-0 row jcc aifs">
													<div class="bs1 bg-fff ra-1 oh p-0 h-100">
														<div class="img-c p-0 tc bb mb-3"> <img
																src="upload/images/arastirma/viop-bulteni-bulls-yatirim.png"
																class="img-fluid w-100"> </div>
														<div class="pb-3" style="padding:0 1.36rem;">
															<p class="f-08 t-lg db tarih mb-1">Ekim 30, 2025</p>
															<h3 class="fw-700 f-12 mb-3">VİOP BÜLTENİ</h3> <span
																class="f-09 db mb-3">Ekim Vade Endeks Sözleşmesi
																11,840.00 –
																12,009.00 aralığında hareket ettiği günü %1.13 değer
																kaybıyla
																11,897....</span>
														</div>
													</div>
												</li>
												<li
													class="slider-item col-12 col-sm-6 col-md-5 px-4 px-sm-2 m-0 py-0 row jcc aifs">
													<div class="bs1 bg-fff ra-1 oh p-0 h-100">
														<div class="img-c p-0 tc bb mb-3"> <img
																src="upload/images/arastirma/1.png"
																class="img-fluid w-100">
														</div>
														<div class="pb-3" style="padding:0 1.36rem;">
															<p class="f-08 t-lg db tarih mb-1">Ekim 28, 2025</p>
															<h3 class="fw-700 f-12 mb-3">Günlük Bülten</h3> <span
																class="f-09 db mb-3">Güne başlarken… BIST 100 endeksi
																dün
																günü
																%0,81 azalışla 10.853 puandan tamamladı. İşlem hacmi
																124,0
																milyar TL...</span>
														</div>
													</div>
												</li>
												<li
													class="slider-item col-12 col-sm-6 col-md-5 px-4 px-sm-2 m-0 py-0 row jcc aifs">
													<div class="bs1 bg-fff ra-1 oh p-0 h-100">
														<div class="img-c p-0 tc bb mb-3"> <img
																src="upload/images/arastirma/teknik-analiz-bulteni-bulls-yatirim.png"
																class="img-fluid w-100"> </div>
														<div class="pb-3" style="padding:0 1.36rem;">
															<p class="f-08 t-lg db tarih mb-1">Ekim 28, 2025</p>
															<h3 class="fw-700 f-12 mb-3">Teknik Bülten</h3> <span
																class="f-09 db mb-3">BIST 100 endeksi, dünkü işlemleri
																%0,81
																oranında düşüşle 10.853 seviyesinden tamamladı. Güne
																10.928
																seviyeleri...</span>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<div class="gunluk-bulten-nv-slot py-2 db dn-lg oh">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="home-component">
						<div class="bg-lb2 py-0 py-lg-4 ">
							<div class="container-lg px-0-- px-md-2-- py-3 hizmetlerimiz op0">
								<h2 class="f-16 fw-700 mb-0 tc pl-3 py-3 py-md-5">Hizmetlerimiz</h2>
								<div class="sc px-1">
									<div class="carousel row fnw ais jcl mt-0 tc pt-3 pb-0 pb-md-4" alt="4">
										<div class="item px-4-- px-md-2 mb-4 col-12 col-sm-6 col-md-4 mx-0 mr-0">
											<div class="b bg-fff h-100 oh ra-1 px-2 py-3 b">
												<div class="img-container bg-fff pt-4 pt-sm-4 pb-0 b-0 tc"> <img
														src="upload/images/pages/kurumsal-finansman.webp"
														class="ra-2 b" />
												</div>
												<div class="px-2 pb-4 tc">
													<h3 class="mt-3 mb-2 fw-700">Kurumsal Finansman</h3> <span
														class="f-09 db mb-3 px-1">Bulls Yatırım, deneyimli ve alanında
														uzman
														kadrosu ile Kurumsal Finansman danışmanlığı kapsamında sermaye
														piyasası
														araçlarının satışına aracılık etmekte ve finansal danışmanlık
														hizmetleri
														vermektedir. </span> <a href="kurumsal-finansman-hizmetleri"
														class="link t-trkz f-09 db fw-600 ok">Devamını Okuyun</a>
												</div>
											</div>
										</div>
										<div class="item px-4-- px-md-2 mb-4 col-12 col-sm-6 col-md-4 mx-0 mr-0">
											<div class="b bg-fff h-100 oh ra-1 px-2 py-3 b">
												<div class="img-container bg-fff pt-4 pt-sm-4 pb-0 b-0 tc"> <img
														src="upload/images/pages/bireysel-porfolyo-yo-netimi.webp"
														class="ra-2 b" /> </div>
												<div class="px-2 pb-4 tc">
													<h3 class="mt-3 mb-2 fw-700">Bireysel Portföy Yönetimi</h3> <span
														class="f-09 db mb-3 px-1">Bireysel Portföy Yönetimi, sermaye
														piyasası
														mevzuatı kapsamında, finansal varlıklardan oluşan portföylerin
														her
														bir
														müşteri adına , doğrudan veya dolaylı bir menfaat sağlamak üzere
														vekil
														sıfatıyla yönetilmesidir. </span> <a
														href="bireysel-portfoy-yonetimi"
														class="link t-trkz f-09 db fw-600 ok">Devamını Okuyun</a>
												</div>
											</div>
										</div>
										<div class="item px-4-- px-md-2 mb-4 col-12 col-sm-6 col-md-4 mx-0 mr-0">
											<div class="b bg-fff h-100 oh ra-1 px-2 py-3 b">
												<div class="img-container bg-fff pt-4 pt-sm-4 pb-0 b-0 tc"> <img
														src="upload/images/pages/yatirim-danis-manlig-i.webp"
														class="ra-2 b" />
												</div>
												<div class="px-2 pb-4 tc">
													<h3 class="mt-3 mb-2 fw-700">Yatırım Danışmanlığı</h3> <span
														class="f-09 db mb-3 px-1">Yatırım Danışmanlığı bölümümüz,
														yatırım
														hedeflerinize ve risk beklentilerinize uygun kriterleri seçerek,
														size
														para ve sermaye piyasası araçları hakkında uygun kararlar
														almanıza
														yardımcı olur. </span> <a href="yatirim-danismanligi"
														class="link t-trkz f-09 db fw-600 ok">Devamını Okuyun</a>
												</div>
											</div>
										</div>
										<div class="item px-4-- px-md-2 mb-4 col-12 col-sm-6 col-md-4 mx-0 mr-0">
											<div class="b bg-fff h-100 oh ra-1 px-2 py-3 b">
												<div class="img-container bg-fff pt-4 pt-sm-4 pb-0 b-0 tc"> <img
														src="upload/images/pages/u-cretler-ve-masraflar.webp"
														class="ra-2 b" />
												</div>
												<div class="px-2 pb-4 tc">
													<h3 class="mt-3 mb-2 fw-700">Ücretler ve Masraflar</h3> <span
														class="f-09 db mb-3 px-1">Ücretler ve Masraflara ilişkin
														tablolara,
														Kredili Menkul Kıymet tablolarına, Para Transfer bilgilerine,
														Bireysel
														Portföy Yönetim Ücretlerine ve Nakit Bakiye Nemalandırmaya
														ilişkin
														tüm
														bilgilere bu sayfadan erişim sağlayabilirsiniz. </span> <a
														href="ucretler-ve-masraflar"
														class="link t-trkz f-09 db fw-600 ok">Devamını Okuyun</a>
												</div>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="print-info dn">
			</div>

			<%- include("layouts/footer") %>

				<div class="popup_main esube-popup-container overlay oh pf p-4 px-md-5 py-lg-5 closen dn">
					<div class="overlay-blur pa">
					</div>
					<div class="popup_main_container container-lg" alt="0"> <b class="closex pa">
						</b> <a href="https://sanalsube.bullsyatirim.com:8000/login" target="_blank"
							class="df aic jcc popup-inside">
							<img src="upload/main/popup/desktop-esube.webp" class="popup-img dn db-lg" />
							<img src="upload/main/popup/mobil-esube.webp" class="popup-img db dn-lg" /> </a> </div>
				</div>
	</body>
	<div class="toast jstoast">
	</div>
	<div class="scrollup pf r-0 mb-5 mx-3 aic jcc ra-circle">
		<i class="fa fa-angle-up dn">
		</i>
		<i class="bi bi-chevron-up">
		</i>
	</div>
	<div class="dn">
		<div class="spinner-border loading t-s vam mr-2">
		</div>
	</div>

</html>