<!DOCTYPE HTML>
<html lang="tr">
<%- include("layouts/head") %>

	<body>
		<%- include("layouts/header") %>
			<div class="main middle"> <input type="hidden" class="kategorisi dn" value="6" />
				<div class="container-lg pt-3 pt-lg-4 pb-4">
					<div class="col-12 f-08">
						<div class="breadcrumb pb-2--"> <a href="" class="breadcrumb-item"> <i class="bi bi-house">
								</i>
							</a> <a href="hakkimizda" class="breadcrumb-item">Hakkımızda</a>
							<a class="breadcrumb-item tdn ">KVKK</a>
						</div>
					</div>
					<div class="row">
						<div class="sidebar usn h-100 lsn dn db-lg pr-4">
							<div class="sidebar-bottom f-12 fw-700 pt-1 pb-3"> <a href="<%= site %>/register"
									class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-0 bs2">
									<span>Yatırım Hesabı <br>Açın</span>
									<img src="upload/main/sidebar_woman.png" class="ml-2" />
								</a> <a href="bize-ulasin"
									class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-2 bs2">
									<span>Uzmanlarımıza <br>Danışın</span> <img src="upload/main/sidebar_man.png"
										class="ml-2" />
								</a>
							</div>
						</div>
						<div class="col-12 col-lg pt-0">
							<article class="fix" alt="kurumsal-kisisel-verilerin-korunmasi">
								<h1 class="fw-700 z1 pb-1 mb-0">KVKK</h1> <img
									src="upload/images/pages/yasal-uyarilar.webp"
									class="featured-image fr mb-4 ml-3 main-img img-fluid fix col-5 col-lg-4"
									alt="article-image" />
								<h2 class="altbaslik fw-400 db f-15 p-0 mb-0 mb-lg-2 pb-1">&amp; Gizlilik Politikası
								</h2>
								<section class="yazi ">
									<h2 class="f-14 pt-0 pb-0 fw-700">Müşterilere ve Potansiyel Müşterilere Ait Kişisel
										Verilerin İşlenmesine İlişkin Aydınlatma Metni</h2>
									<div class="body">
										<p>Bu aydınlatma metni (“<strong>Aydınlatma Metni</strong>”), veri sorumlusu
											sıfatıyla <strong>BULLS YATIRIM MENKUL DEĞERLER A.Ş.
											</strong>(“<strong>BULLS YATIRIM</strong>”) tarafından, 6698 sayılı Kişisel
											Verilerin Korunması Kanunu (“<strong>Kanun</strong>”) ve Aydınlatma
											Yükümlülüğünün Yerine Getirilmesinde Uyulacak Usul ve Esaslar Hakkında
											Tebliğ ile diğer ilgili mevzuat gereğince ilgili kişi olarak müşteri ve
											potansiyel müşterilerimizi işlenen kişisel verilerine ilişkin aydınlatmak
											amacıyla hazırlanmıştır.</p>
										<p><br></p>
										<p><strong>1. VERİ SORUMLUSUNA AİT BİLGİLER</strong></p>
										<p>Kurum: Bulls Yatırım Menkul Değerler A.Ş.</p>
										<p>Genel Müdürlük Adresi: Büyükdere Cad. No: 173 Levent Plaza B Blok . Kat 5
											Levent / İSTANBUL</p>
										<p>Telefon: (0212) 410 05 00</p>
										<p>Faks: (0212) 410 05 05</p>
										<p>E-posta: info@bullsyatirim.com</p>
										<p><br></p>
										<p><strong>2. KİŞİSEL VERİLERİNİZ NASIL İŞLENMEKTEDİR?</strong></p>
										<p><strong>a.&nbsp;</strong><strong>Potansiyel Müşteri Olarak İşlenen Kişisel
												Verileriniz</strong></p>
										<p>BULLS YATIRIM’a ait <a href="http://www.bullsyatirim.com"
												data-mce-href="http://www.bullsyatirim.com">www.</a><a
												href="http://www.bullsyatirim.com"
												data-mce-href="http://www.bullsyatirim.com">bulls</a><a
												href="http://www.bullsyatirim.com"
												data-mce-href="http://www.bullsyatirim.com">yatirim.com</a> adresinde
											(“<strong>İnternet Sitesi</strong>”) yer alan “Müşteri Ol” sekmesi üzerinden
											doldurduğunuz hesap açma formu (“<strong>Form</strong>”) ile kısmen otomatik
											yöntemlerle BULLS YATIRIM’a iletmiş olduğunuz aşağıda sayılan kişisel
											verileriniz BULLS YATIRIM tarafından <span
												style="text-decoration: underline;"><strong>sizinle hesap açılması için
													iletişime geçilmesi amacıyla</strong> </span>ilgili kişinin kendisi
											tarafından alenileştirilmiş olması hukuki sebebine dayanarak
											&nbsp;işlenecektir ve hiç bir üçüncü kişiye aktarılmayacaktır.</p>
										<p><br></p>
										<ul>
											<li><strong>Kimlik</strong>: Ad-soyad, Doğum tarihi</li>
											<li><strong>İletişim</strong>: E-posta adresi, Telefonu numarası, Şehir</li>
											<li><strong>Diğer</strong>: Yatırım bilgisi</li>
										</ul>
										<p><br></p>
										<p><strong>b. Müşteri Olarak İşlenen Kişisel Verileriniz</strong></p>
										<p>Potansiyel müşteri olarak doldurduğunuz form içeriğindeki kişisel verileriniz
											BULLS YATIRIM tarafından işlendikten sonra sizi BULLS YATIRIM’ı temsilen bir
											müşteri kazanım temsilcisi telefon ile arayacaktır ve yaptığınız görüşme
											sonrasında İnternet Sitesi’ndeki “Sözleşmeler” sekmesi altında yer alan
											sözleşmelerden size uygun olanın tarafınızca doldurularak BULLS YATIRIM’a
											iletilmesi talep edilecektir. Bu şekilde müşteri olduğuzunda doldurduğunuz
											sözleşme içeriğindeki aşağıda belirtilen verileriniz, BULLS YATIRIM
											hizmetlerinin sunulması ve BULLS YATIRIM’ın hukuki yükümlülüklerinin yerine
											getirebilmesi amaçlarıyla, sözleşmenin kurulması ve ifası için zorunlu
											olması&nbsp; ve BULLS YATIRIM’ın hukuki yükümlülüklerini yerine getirmesi
											için zorunlu olması hukuki dayanakları ile BULLS YATIRIM tarafından kısmen
											otomatik yollarla işlenecektir.</p>
										<p><br></p>
										<ul>
											<li><strong>Kimlik</strong>: Adı Soyadı, T.C. Kimlik No, Vergi kimlik
												numarası, Anne Adı, Baba Adı, Doğum Yeri, Doğum Tarihi, Kimlik Belgesi
												Türü, Kimlik Belgesi Numarası, Uyruk, Medeni hal, Cinsiyet gibi
												Bilgeleri İçeren Ehliyet, Nüfus Cüzdanı Sureti Gibi Belgeler, İmza/paraf
												Bilgisi.</li>
											<li><strong>İletişim</strong>: E-posta Adresi (dâhili numarası ve kurumsal
												e-posta adresi dâhil), Telefon Numarası, Faks Numarası, Adres, Şehir
												&amp; İlçe.</li>
											<li><strong>Özlük</strong>: Meslek, Çalışılan Kurumun Adı, Faaliyet
												Gösterilen Sektör.</li>
											<li><strong>Hukuki İşlem</strong>: Hukuki alacak ve hakların tespiti, takibi
												ve borçların ifası ile kanuni yükümlülükler ve Şirketimiz politikalarına
												uyum kapsamında işlenen kişisel veriler ile icra takip&nbsp; dosyalarına
												ilişkin dosya ve borç bilgileri (Mahkeme ve idari merci kararları
												gibi&nbsp; belgelerde yer alan bilgiler).</li>
											<li><strong>Müşteri İşlem</strong>: Kurumda Hesap Açma Amacı, Müşteri
												Temsilcisi Ile Yapılan Görüşmelere Ait Ses Kayıtları, Fatura, Senet, Çek
												Bilgileri, Işlem Talepleriniz, Hesap Bilgileriniz.</li>
											<li><strong>İşlem Güvenliği</strong>: Ip Adresi Bilgileri, Internet
												Sitesi/Mobil Uygulama Giriş-Çıkış Ve Işlem Bilgileri, Şifre ve Parola
												Bilgileri.</li>
											<li><strong>Finans</strong>: Aylık Net Gelir, Para Transfer Bilgileri, Mal
												Varlığının Kaynağı, Hesaba Yurtdışından Para Transferi Durumu, Hesaba
												Hangi Ülkelerden Para Transferi Yapılabileceği, Kredi Notu, Yatırımcı
												Risk Değerlendirmesi, Malvarlığı Bilgileri, Yatırım Portföy Bilgileri,
												Sermaye Türü, Hesap Durumu, Ortaklık Yüzdesi, Yıllık Faiz, Banka Kodu,
												Kredi Bilgileri, Borç Bilgileri.</li>
											<li><strong>Pazarlama</strong>: Anketlere Verilen Yanıtlar, Websitesi Ve
												Mobil Uygulama Çerez Kayıtları.</li>
											<li><strong>Görsel ve İşitsel Kayıtlar</strong>: Fotoğraf (Kimlik Belgesi
												Fotokopisi Dolayısıyla), Kamera Kayıtları (Fiziksel Mekân Güvenlik
												Bilgisi kapsamında giren kayıtlar hariç), Ses Kayıtları (telefon
												konuşması ses kaydı).</li>
											<li><strong>Diğer:</strong> Belge Numarası, Hesap Türü, Üye Kodu, Erişim
												Tarihi, Ptt Barkod Numarası, Crm Durumu, Teslim Tarihi, Ekstre Iletim
												Şekli.</li>
											<li><strong>Diğer (Yabancı Uyruklu Kişiler İçin)</strong>: Türkiye'de
												Bulunma Sebebi, Türkiye'de Ikamet Süresi, Türkiye’de Kalma Planı Süresi.
											</li>
										</ul>
										<p><br></p>
										<p>BULLS YATIRIM tarafından sayılan kişisel verilerileriniz aşağıdaki amaçlar
											için işlemektedir:</p>
										<p><br></p>
										<ul>
											<li>Merkezi Kayıt Kuruluşu nezdinde hesap açılması,</li>
											<li>Takasbank nezdinde hesap açılması,</li>
											<li>Hesap ekstresi gönderilmesi,</li>
											<li>Şirketimiz nezdindeki hesapların tanımlanması ve güncellenmesi,</li>
											<li>Sakıncalı müşteri sürecinin yürütülmesi,</li>
											<li>Uyuşmazlık, iç denetim ve sorgulama süreçlerinin yürütülmesi,</li>
											<li>Müşteri şikâyet süreçlerinin yönetilmesi,</li>
											<li>İç kontrol süreçlerinin yürütülmesi,</li>
											<li>Soruşturma süreçlerinin yürütülmesi,</li>
											<li>Şüpheli/hatalı işlem tutanaklarının düzenlenmesi ve bildirilmesi,</li>
											<li>Sermaye Piyasası Kurulu nezdindeki savunmaların yönetilmesi,</li>
											<li>Risk izleme süreçlerinin yürütülmesi,</li>
											<li>Bilgi güvenliği süreçlerinin yürütülmesi,</li>
											<li>Hukuki süreçlerin takibi ve işlemlerin gerçekleştirilmesi,</li>
											<li>Vergi bildirimlerinin yapılması ve takibi,</li>
											<li>Müşterilerin net durum raporlarının oluşturulması,</li>
											<li>Maliye Bakanlığı’na yıllık mukimlik bildiriminin yapılması,</li>
											<li>MASAK beyan sürecinin yürütülmesi,</li>
											<li>Müşteri bilgilerinin sisteme kayıtlarının ve hesap açılış/kapanış
												işlemlerinin yapılması,</li>
											<li>Müşteri teminat tamamlama süreçlerinin yürütülmesi,</li>
											<li>Para çekme işlemlerinin yerine getirilmesi,</li>
											<li>Müşteri Stop Out raporunun oluşturulması,</li>
											<li>Müşteri işlemleri kapsamında hazine süreçlerinin yürütülmesi,</li>
											<li>İbra ve mutabakat süreçlerinin yürütülmesi,</li>
											<li>Müşteri desteği kayıtlarının saklanması,</li>
											<li>Arşivleme yapılması,</li>
											<li>Sözleşmelerin raporlanması,</li>
											<li>Müşteri işlem defterinin saklanması,</li>
											<li>Adres teyidinin sağlanması,</li>
											<li>Müşteri iletişim bilgilerinin güncellemelerinin yapılması, • Vekâletname
												işlemlerinin yürütülmesi,</li>
											<li>Virman talimatlarının yerine getirilmesi,</li>
											<li>VİOP hesabı para işlemlerinin yürütülmesi,</li>
											<li>Ekstre gönderim raporunun tutulması,</li>
											<li>Türkiye Sermaye Piyasaları Birliği bilgi formunun düzenlenmesi ve
												bildirilmesi,</li>
											<li>Şirket içi tutanak tutulması,</li>
											<li>Dava ve icra süreçlerinin yürütülmesi,</li>
											<li>Kara liste süreçlerinin yürütülmesi.</li>
										</ul>
										<p><br></p>
										<p><strong>c. Tarafınıza Ticari Elektronik İleti Gönderilmesi Kapsamında İşlenen
												Kişisel Verileriniz</strong></p>
										<p>İnternet Sitesi’nde doldurduğunuz Form’un BULLS YATIRIM’a iletilmesine karar
											verdiğiniz sayfada ticari elektronik ileti almak isteyip istemediğinize dair
											tercihiniz sorulmaktadır. Eğer ticari elektronik ile almayı tercih
											ettiğinizi ilgili kutucuğu işaretleyerek BULLS YATIRIM’a iletirseniz,
											yukarıda belirtilen müşteri/potansiyel müşteri kişisel verilerinizden ticari
											elektronik ileti gönderilmesini sağlayacak iletişim verileri tarafınıza
											BULLS YATIRIM, iştirakleri ve iş ortaklarına ait online portallardan ve
											çalışanlarından, sunmuş oldukları ürün ve hizmetlerle ilgili bülten,
											kampanya ve promosyonlara yönelik ticari elektronik ileti gönderilmesi
											yoluyla reklam/kampanya/promosyon süreçlerinin yürütülmesi amacıyla BULLS
											YATIRIM tarafından açık rızanıza istinaden işlenecek ve aynı amacın
											gerçekleştirilmesi ve Elektronik Ticaretin Düzenlenmesi Hakkındaki Kanun
											uyarınca İleti Yönetim Sistemi’ne veri yüklenmesi. amaçları ile üçüncü kişi
											tedarikçilerimize aktarılacaktır. Ticari elektronik ileti kapsamında
											tarafınıza gönderilen (BULLS YATIRIM’ın tabi olduğu mevzuatta zorunlu
											bildirim addedilmeyen) iletilerden her zaman vazgeçebilirsiniz. Ticari
											elektronik ileti almak istemediğinizi bize iletmeniz halinde bu talebinizin
											BULLS YATIRIM tarafından işleme konulmasından itibaren kişisel verileriniz
											artık bu amaçla işlenmeyecektir.</p>
										<p><br></p>
										<p><strong>3. KİŞİSEL VERİLERİNİZ</strong><strong> NASIL
												AKTARILMAKTADIR?</strong></p>
										<p>BULLS YATIRIM tarafından işlenen kişisel verileriniz faaliyetlerin mevzuata
											uygun yürütülmesi, finans ve muhasebe işlerinin yürütülmesi amaçlarıyla
											işlenmekte bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili
											olması kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin
											gerekli olması ile veri sorumlusunun hukuki yükümlülüğünü yerine
											getirebilmesi için zorunlu olması hukuki sebeplerine dayanarak yurt içindeki
											tedarikçiler ile yetkili kamu kurum ve kuruluşlarına aktarılacaktır.</p>
										<p>Müşterilerimize ait herhangi bir kişisel verinin bilginiz ve açık rızanız
											olmaksızın yurt dışındaki üçüncü kişiler ile paylaşımı söz konusu değildir.
											Kişisel verilerinizin yurt dışındaki üçüncü kişiler ile paylaşımı ancak
											işleme amaçlarıyla sınırlı olmak kaydıyla ve Kanun’da belirtilen işleme
											şartlarına uygun olacak şekilde yapılabilir. Yurtdışı piyasalarda işlem
											yapmak istediğinizde yurtdışına aktarılan verilerinizle ilgili detaylı
											bilgilendirme ayrıca yapılmaktadır.</p>
										<p><br></p>
										<p><strong>4. İLGİLİ KİŞİ OLARAK HAKLARINIZIN KULLANILMASI</strong></p>
										<p><strong>&nbsp;</strong></p>
										<p>Kanunun ilgili kişinin haklarını düzenleyen 11’inci maddesi kapsamında
											kendiniz ile ilgili kişisel verilerinizin işlenip işlenmediğini öğrenme,
											kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme, kişisel
											verilerinizin işlenme amacını ve bunların amacına uygun kullanılıp
											kullanılmadığını öğrenme, yurt içinde veya yurt dışında kişisel
											verilerinizin aktarıldığı üçüncü kişileri bilme, kişisel verilerinizin eksik
											veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme, kişisel
											verilerinizin silinmesini veya yok edilmesini isteme, kişisel verilerinizin
											düzeltilmesine, silinmesine veya yok edilmesine ilişkin işlemlerin kişisel
											verilerinizin aktarıldığı üçüncü kişilere bildirilmesini isteme, işlenen
											verilerinizin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi
											suretiyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme, kişisel
											verilerinizin kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız
											hâlinde zararınızın giderilmesini talep etme haklarına sahipsiniz. Bu sayılı
											taleplerinizi, Veri Sorumlusuna Başvuru Usul ve Esasları Hakkında Tebliğe
											uygun bir şekilde BULLS YATIRIM’a iletebilirsiniz.</p>
										<p><br></p>
										<p>İşbu Aydınlatma metni Haziran 2025 tarihinde güncellenmiştir.</p>
									</div>
								</section>
								<a href="<%= site %>/register"
									class="btn btn-p col-lg-a col-12 hesap-ac musteri-ol btn tc dib mx-a mt-4 ra-1 px-5 py-2">
									Şimdi Hesap Açın <i class="bi bi-hand-index-thumb pl-1 "></i> </a>
							</article>
						</div>
					</div>
				</div>
			</div>
			<div class="print-info dn">kurumsal-kisisel-verilerin-korunmasi</div>
			<%- include("layouts/footer") %>
				<div class="popup_main esube-popup-container overlay oh pf p-4 px-md-5 py-lg-5 closen dn">
					<div class="overlay-blur pa"></div>
					<div class="popup_main_container container-lg" alt="0"> <b class="closex pa"></b> <a
							href="https://sanalsube.bullsyatirim.com:8000/login" target="_blank"
							class="df aic jcc popup-inside"><img src="upload/main/popup/desktop-esube.webp"
								class="popup-img dn db-lg" /><img src="upload/main/popup/mobil-esube.webp"
								class="popup-img db dn-lg" /> </a> </div>
				</div>
	</body>
	<div class="toast jstoast"></div>

	<div class="scrollup pf r-0 mb-5 mx-3 aic jcc ra-circle">
		<i class="fa fa-angle-up dn"></i>
		<i class="bi bi-chevron-up"></i>
	</div>


	<div class="dn">
		<div class="spinner-border loading t-s vam mr-2"></div>
	</div>

</html>