<!DOCTYPE HTML>
<html lang="tr">
<%- include("layouts/head") %>

	<body>
		<%- include("layouts/header") %>
			<div class="main middle">
				<div class="container-lg pt-4 pt-lg-4 pb-5 liste-pair-trade-ikili-islem category">
					<div class="px-0">
						<div class="col-12 f-08">
							<div class="breadcrumb pb-2--"> <a href="" class="breadcrumb-item"> <i
										class="bi bi-house"></i></a> <a href="arastirma"
									class="breadcrumb-item">Araştırma</a><a href="pair-trade-ikili-islem"
									class="breadcrumb-item">Pair Trade (İkili İşlem)</a> </div>
						</div>
					</div>
					<div class="df">
						<div class="sidebar usn h-100 lsn dn db-lg pr-4">
							<div class="sidebar-bottom f-12 fw-700 pt-1 pb-3"> <a href="<%= site %>/register"
									class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-0 bs2"><span>Yatırım
										Hesabı
										<br>Açın</span><img src="upload/main/sidebar_woman.png" class="ml-2" /></a> <a
									href="bize-ulasin"
									class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-2 bs2"><span>Uzmanlarımıza
										<br>Danışın</span> <img src="upload/main/sidebar_man.png" class="ml-2" /></a>
							</div>
						</div> <!-- category-container -->
						<div class="category-container col-12 col-lg py-3 pb-5 pt-0 px-0 px-lg-0 fix">
							<div class="category-header">
								<h1 class="pb-0 mb-0 fw-700 ">Pair Trade (İkili İşlem)</h1>
							</div>
							<div class="cb"></div>
							<div class="row"> <!-- category-list -->
								<div class="category-list col df fw px-0 px-lg-2 pb-5 "> <!-- category-item -->
									<div
										class="category-list-item col-12 col-sm-6 col-lg-12 px-2 py-3 py-lg-3 px-lg-0 pb-lg-5 fix">
										<div class="category-inner df fdc fdr-lg">
											<div class="col-lg-4 img-c df aic jcc mb-0 mb-lg-0"> <img
													src="upload/main/default.png" class="w-100 ofc ra-1"
													alt="category-item" /> </div>
											<div class="col-lg pl-lg-4 df aifs fdc jcse p-3 pr-lg-0">
												<h2 class="pb-0 mb-0 f-14 fw-700 pr-2 df aifs"> Pair Trade Kapatma </h2>
												<span class="tarih f-1 fw-400 ml-0 col-auto">31.07.2024</span>
												<div class="pb-0 cb fw-300"> 22 Temmuz tarihinde VİOP Temmuz vade
													sözleşmesinde AKBNK 70.33 fiyattan short, YKBNK 32.46 fiyattan long
													pozisyon açılarak ikili işlem pozisyonu açılmasını önermiştik. İki
													hisse... </div>
											</div>
										</div>
									</div> <!-- category-item -->
									<div
										class="category-list-item col-12 col-sm-6 col-lg-12 px-2 py-3 py-lg-3 px-lg-0 pb-lg-5 fix">
										<div class="category-inner df fdc fdr-lg">
											<div class="col-lg-4 img-c df aic jcc mb-0 mb-lg-0"> <img
													src="upload/main/default.png" class="w-100 ofc ra-1"
													alt="category-item" /> </div>
											<div class="col-lg pl-lg-4 df aifs fdc jcse p-3 pr-lg-0">
												<h2 class="pb-0 mb-0 f-14 fw-700 pr-2 df aifs"> Pair Trade (İkili İşlem)
													Önerisi </h2> <span
													class="tarih f-1 fw-400 ml-0 col-auto">22.07.2024</span>
												<div class="pb-0 cb fw-300"> Aynı sektörde faaliyet gösteren iki şirket
													arasında bir süredir YKBNK lehine negatif ayrışma söz konusu. Benzer
													Beta katsayısına sahip iki şirketin beklenen volatilite değerleri...
												</div>
											</div>
										</div>
									</div>
									<hr>
								</div> <!-- category-list -->
							</div>
						</div> <!-- category-container -->
					</div>
				</div>
			</div>
			<div class="print-info dn">arastirma/pair-trade-ikili-islem/</div>
			<%- include("layouts/footer") %>
				<div class="popup_main esube-popup-container overlay oh pf p-4 px-md-5 py-lg-5 closen dn">
					<div class="overlay-blur pa"></div>
					<div class="popup_main_container container-lg" alt="0"> <b class="closex pa"></b> <a
							href="<%= site %>/login" target="_blank"
							class="df aic jcc popup-inside"><img src="upload/main/popup/desktop-esube.webp"
								class="popup-img dn db-lg" /><img src="upload/main/popup/mobil-esube.webp"
								class="popup-img db dn-lg" /> </a> </div>
				</div>
	</body>
	<div class="toast jstoast"></div>

	<div class="scrollup pf r-0 mb-5 mx-3 aic jcc ra-circle">
		<i class="fa fa-angle-up dn"></i>
		<i class="bi bi-chevron-up"></i>
	</div>


	<div class="dn">
		<div class="spinner-border loading t-s vam mr-2"></div>
	</div>

</html>