<!DOCTYPE HTML>
<html lang="tr">
<%- include("layouts/head") %>

	<body>
		<%- include("layouts/header") %>
			<div class="main middle"> <input type="hidden" class="kategorisi dn" value="7" />
				<div class="container-lg pt-3 pt-lg-4 pb-4">
					<div class="col-12 f-08">
						<div class="breadcrumb pb-2--"> <a href="" class="breadcrumb-item"> <i class="bi bi-house">
								</i>
							</a> <a href="hizmetler" class="breadcrumb-item">Hizmetler</a>
							<a class="breadcrumb-item tdn ">Ücretler ve Masraflar</a>
						</div>
					</div>
					<div class="row">
						<div class="sidebar usn h-100 lsn dn db-lg pr-4">
							<div class="sidebar-bottom f-12 fw-700 pt-1 pb-3"> <a href="<%= site %>/register"
									class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-0 bs2">
									<span>Yatırım Hesabı <br>Açın</span>
									<img src="upload/main/sidebar_woman.png" class="ml-2" />
								</a> <a href="bize-ulasin"
									class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-2 bs2">
									<span>Uzmanlarımıza <br>Danışın</span> <img src="upload/main/sidebar_man.png"
										class="ml-2" />
								</a> </div>
						</div>
						<div class="col-12 col-lg pt-0">
							<article class="fix" alt="ucretler-ve-masraflar">
								<h1 class="fw-700 z1 mb-2 pb-1 mb-lg-3 pb-lg-3">Ücretler ve Masraflar</h1> <img
									src="upload/images/pages/u-cretler-ve-masraflar.webp"
									class="featured-image fr mb-4 ml-3 main-img img-fluid fix col-5 col-lg-4"
									alt="article-image" />
								<section class="yazi ">
									<div class="body">
										<p>Ücretler ve Masraflara ilişkin tablolara, Kredili Menkul Kıymet tablolarına,
											Para Transfer bilgilerine, Pay Virmanı &amp; Posta Ücretina,&nbsp;Bireysel
											Portföy Yönetim Ücretlerine ve&nbsp;Nakit Bakiye Nemalandırmaya (O/N)
											ilişkin bilgilere bu sayfadan erişim sağlayabilirsiniz.</p>
									</div>
								</section>
								<section class="yazi ">
									<div class="body">
										<p><br></p>
										<p><br></p>
										<p><br></p>
										<table style="height: 973px; width: 890px;" width="1400" class="">
											<tbody>
												<tr style="height: 54px;">
													<td style="width: 890px; height: 54px;" colspan="2">
														<p style="text-align: center;"><span
																style="font-size: 15px;">&nbsp;<strong>İŞLEM
																	ÜCRETLERİ</strong></span></p>
													</td>
												</tr>
												<tr style="height: 54px;">
													<td>
														<p><span style="font-size: 15px;">PAY SENEDİ ALIM-SATIM
																KOMİSYON</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">en yüksek 0.003
																(binde3,00)</span></p>
													</td>
												</tr>
												<tr style="height: 54px;">
													<td>
														<p><span style="font-size: 15px;">VİOP ALIM SATIM
																İŞLEMLERİ</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">en yüksek 0.0005 (onbinde
																5)</span></p>
													</td>
												</tr>
												<tr style="height: 54px;">
													<td>
														<p><span style="font-size: 15px;">VADELİ İŞLEM EMİR İPTAL
																ÜCRETİ</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">Borsa'nın aldığı ücret aynen
																yansıtılır.</span></p>
													</td>
												</tr>
												<tr style="height: 54px;">
													<td>
														<p><span style="font-size: 15px;">DT / HB / ÖZEL SEKTÖR TAHVİL
																İŞLEMLERİ</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">en yüksek 0.003 (binde3,00
																)</span></p>
													</td>
												</tr>
												<tr style="height: 91px;">
													<td>
														<p><span style="font-size: 15px;">ENDEKS VE HİSSE SENEDİNE
																VADELİ İŞLEM SÖZLEŞMELERİ BORSA PAYI</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">Borsa Payı ve Takasbank
																ücretleri ayrıca alınır.</span></p>
													</td>
												</tr>
												<tr style="height: 91px;">
													<td>
														<p><span style="font-size: 15px;">DİĞER VADELİ İŞLEM
																SÖZLEŞMELERİ BORSA PAYI</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">Borsa Payı ve Takasbank
																ücretleri ayrıca alınır.</span></p>
													</td>
												</tr>
												<tr style="height: 91px;">
													<td>
														<p><span style="font-size: 15px;">OPSİYON SÖZLEŞMELERİ BORSA
																PAYI</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">Borsa Payı ve Takasbank
																ücretleri ayrıca alınır.</span></p>
													</td>
												</tr>
												<tr style="height: 54px;">
													<td>
														<p><span style="font-size: 15px;">VARANT VE SERTİFİKA ALIM SATIM
																İŞLEMLERİ</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">en yüksek 0.003
																(binde3,00)</span></p>
													</td>
												</tr>
												<tr style="height: 91px;">
													<td>
														<p><span style="font-size: 15px;">PAY PİYASASI BORSA PAYI
																ÜCRETİ</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">Borsa Payı ve Takasbank
																ücretleri ayrıca alınır.</span></p>
													</td>
												</tr>
												<tr style="height: 91px;">
													<td>
														<p><span style="font-size: 15px;">VARANT BORSA PAYI
																ÜCRETİ</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">Borsa Payı ve Takasbank
																ücretleri ayrıca alınır.</span></p>
													</td>
												</tr>
												<tr style="height: 54px;">
													<td>
														<p><span style="font-size: 15px;">KESİN ALIM SATIM İŞLEMLERİ
																BORSA PAYI ÜCRETİ</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">Müşterinin borcuna
																işlenir.</span></p>
													</td>
												</tr>
												<tr style="height: 54px;">
													<td>
														<p><span style="font-size: 15px;">REPO TERS REPO PAZARI BORSA
																PAYI ÜCRETİ</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">Müşterinin borcuna
																işlenir.</span></p>
													</td>
												</tr>
												<tr>
													<td>
														<p><span style="font-size: 15px;">PAY SENEDİ EMİR İPTAL / MİKTAR
																AZALTIM / FİYAT KÖTÜLEŞTİRME</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">Borsa'nın aldığı ücret aynen
																yansıtılır.</span></p>
													</td>
												</tr>
												<tr style="height: 32px;">
													<td>
														<blockquote>
															<div>
																<div>
																	<div>BEDELLİ, BEDELSİZ,RÜÇHAN HAKKI KULLANIM BEDELİ,
																		TEMETTÜ</div>
																</div>
															</div>
														</blockquote>
													</td>
													<td>
														<blockquote>
															<div>
																<div>
																	<div>MKK’nın aldığı ücret aynen yansıtılır.</div>
																</div>
															</div>
														</blockquote>
													</td>
												</tr>
												<tr>
													<td>Ödünç İşlem Komisyonu<div>
															<div>
																<div><br></div>
															</div>
														</div>
													</td>
													<td>
														<div>
															<div>
																<div>Piyasaya ödenen / alınan ödünç <br>komisyonunun
																	%30’u kadar komisyon alınır.</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>
								<section class="yazi ">
									<div class="body">
										<p><br></p>
										<p><br></p>
									</div>
								</section>
								<section class="yazi ">
									<div class="body">
										<p><br></p>
									</div>
								</section>
								<section class="accordion ">
									<h2 class="f-17 py-2 px-4 fw-600">Kredili Menkul Kıymet</h2>
									<div class="body" style="display:none;">
										<table style="height: 172px;" width="1399" class="">
											<tbody>
												<tr>
													<td colspan="2" style="width: 1038.56px;">
														<p style="text-align: center;"><span
																style="font-size: 15px;"><strong>KREDİLİ MENKUL
																	KIYMET</strong></span></p>
													</td>
												</tr>
												<tr>
													<td>
														<p><span style="font-size: 15px;">KREDİLİ MENKUL KIYMET
																İŞLEMLERİ FAİZ ORANLARI</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">BİST Tahvil Bono Piyasasında
																oluşan ortalama faizin azami 3 katı<br></span><span
																style="font-size: 15px;">olarak uygulanması esastır.
																2024 yılı için %90</span></p>
													</td>
												</tr>
												<tr>
													<td>
														<p><span style="font-size: 15px;">NAKİT TEMERRÜT DURUMUNDA
																UYGULANAN FAİZ ORANI</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">BİST Tahvil Bono Piyasasında
																oluşan ortalama faizin azami 5 katı<br>olarak
																uygulanması esastır. 2024 yılı için %150</span></p>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>
								<section class="accordion ">
									<h2 class="f-17 py-2 px-4 fw-600">Para Transfer</h2>
									<div class="body" style="display:none;">
										<table style="height: 246px;" width="1400" class="">
											<tbody>
												<tr>
													<td colspan="2" style="width: 1038.56px;">
														<p style="text-align: center;"><strong>PARA TRANSFER </strong>
														</p>
													</td>
												</tr>
												<tr>
													<td>
														<p>0-250.000</p>
													</td>
													<td>
														<p>2025 yılı için 25.-TL</p>
													</td>
												</tr>
												<tr>
													<td>
														<p>250.000-499.000</p>
													</td>
													<td>
														<p>2025 yılı için 50.-TL</p>
													</td>
												</tr>
												<tr>
													<td>
														<p>500.000-999.000</p>
													</td>
													<td>
														<p>2025 yılı için 100.-TL</p>
													</td>
												</tr>
												<tr>
													<td>
														<p>1.000.000-5.000.000</p>
													</td>
													<td>
														<p>2025 yılı için 250.-TL</p>
													</td>
												</tr>
												<tr>
													<td>
														<p>5.000.000 ve üzeri</p>
													</td>
													<td>
														<p>2025 yılı için 300.-TL</p>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>
								<section class="accordion ">
									<h2 class="f-17 py-2 px-4 fw-600">Pay Virmanı &amp; Posta Ücreti</h2>
									<div class="body" style="display:none;">
										<table style="height: 124px; width: 1402px;" class="">
											<tbody>
												<tr>
													<td colspan="2" style="width: 1038.56px;">
														<p style="text-align: center;"><span
																style="font-size: 15px;"><strong>PAY
																	VİRMANI</strong></span></p>
													</td>
												</tr>
												<tr>
													<td>
														<p><span style="font-size: 15px;">KURUM DIŞINA GİDEN VİRMAN (HER
																BİR KALEM İÇİN)</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">25.-TL</span></p>
													</td>
												</tr>
												<tr>
													<td>
														<p><span style="font-size: 15px;">KURUM İÇİ VİRMAN</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">10.-TL</span></p>
													</td>
												</tr>
											</tbody>
										</table>
										<p><span style="font-size: 15px;">--</span></p>
										<table style="height: 136px;" width="1401" class="">
											<tbody>
												<tr style="height: 40px;">
													<td colspan="2" style="height: 40px; width: 1038.56px;">
														<p style="text-align: center;"><span
																style="font-size: 15px;"><strong>POSTA
																	ÜCRETİ</strong></span></p>
													</td>
												</tr>
												<tr style="height: 88px;">
													<td>
														<p><span style="font-size: 15px;">POSTA EKSTRE ÜCRETİ</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">Müşteriye Posta ve Telgraf
																Teşkilatı Anonim Şirketi veya özel kargo
																şirketleri</span><br><span
																style="font-size: 15px;">vasıtası ile gönderilen her
																türlü gönderi ücreti aynen müşteri hesabına borç
																kaydedilir.</span></p>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>
								<section class="accordion ">
									<h2 class="f-17 py-2 px-4 fw-600">Bireysel Portföy Yönetim Ücretleri</h2>
									<div class="body" style="display:none;">
										<table style="height: 103px;" width="1399" class="">
											<tbody>
												<tr>
													<td colspan="2" style="width: 1038.56px;">
														<p style="text-align: center;"><span
																style="font-size: 15px;"><strong>BİREYSEL PORTFÖY
																	YÖNETİM ÜCRETLERİ</strong></span></p>
													</td>
												</tr>
												<tr>
													<td>
														<p><span style="font-size: 15px;">YÖNETİM ÜCRETİ</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">%3(Yıllık)</span></p>
													</td>
												</tr>
												<tr>
													<td>
														<p><span style="font-size: 15px;">PERFORMANS (BAŞARI )
																PRİMİ</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">%20(Dönemsel)</span></p>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>
								<section class="accordion ">
									<h2 class="f-17 py-2 px-4 fw-600">Nakit Bakiye Nemalandırma Komisyonu</h2>
									<div class="body" style="display:none;">
										<table style="height: 331px;" class="">
											<tbody>
												<tr>
													<td colspan="2" style="width: 1038.56px;">
														<p style="text-align: center;"><span
																style="font-size: 15px;"><strong>Nakit Bakiye
																	Nemalandırma Komisyonu</strong></span></p>
													</td>
												</tr>
												<tr>
													<td>
														<p><span style="font-size: 15px;">YATIRIMCI NAKİT BAKİYESİ
																0-20.000-TL</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">Nema Verilmemektedir.</span>
														</p>
													</td>
												</tr>
												<tr>
													<td>
														<p><span style="font-size: 15px;">YATIRIMCI NAKİT BAKİYESİ
																20.001-250.000-TL</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">30%</span></p>
													</td>
												</tr>
												<tr>
													<td>
														<p><span style="font-size: 15px;">YATIRIMCI NAKİT BAKİYESİ
																250.001-500.000-TL</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">25%</span></p>
													</td>
												</tr>
												<tr>
													<td>
														<p><span style="font-size: 15px;">YATIRIMCI NAKİT BAKİYESİ
																500.001-1.000.000-TL</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">20%</span></p>
													</td>
												</tr>
												<tr>
													<td>
														<p><span style="font-size: 15px;">YATIRIMCI NAKİT BAKİYESİ
																1.000.001- 5.000.000-TL</span></p>
													</td>
													<td>
														<p><span style="font-size: 15px;">15%</span></p>
													</td>
												</tr>
												<tr>
													<td><span style="font-size: 15px;">YATIRIMCI NAKİT BAKİYESİ
															5.000.001 TL ve üzeri</span></td>
													<td>
														<p><span style="font-size: 15px;">10%</span></p>
													</td>
												</tr>
												<tr>
													<td colspan="2">
														<p><span style="font-size: 15px;">*Kurumumuza “Nema
																Feragatnamesi” veren yatırımcılara nema
																verilmemektedir.</span></p>
													</td>
												</tr>
												<tr>
													<td colspan="2">
														<p><span style="font-size: 15px;">Nema getiri oranlarımız,
																piyasa koşullarına göre değişebilmekte; yapılacak
																değişiklikler,</span><br><span
																style="font-size: 15px;">telefon, e-posta, SMS, emir
																iletim platformları, web sitesi vb. elektronik
																ortamlarda</span><br><span
																style="font-size: 15px;">yatırımcılarımıza bildirilmekte
																ve/veya kurumsal web sitemizde duyurulmaktadır.</span>
														</p>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>
								<a href="<%= site %>/register"
									class="btn btn-p col-lg-a col-12 hesap-ac musteri-ol btn tc dib mx-a mt-4 ra-1 px-5 py-2">
									Şimdi Hesap Açın <i class="bi bi-hand-index-thumb pl-1 "></i> </a>
							</article>
						</div>
					</div>
				</div>
			</div>
			<div class="print-info dn">ucretler-ve-masraflar/</div>
			<%- include("layouts/footer") %>
				<div class="popup_main esube-popup-container overlay oh pf p-4 px-md-5 py-lg-5 closen dn">
					<div class="overlay-blur pa"></div>
					<div class="popup_main_container container-lg" alt="0"> <b class="closex pa"></b> <a
							href="https://sanalsube.bullsyatirim.com:8000/login" target="_blank"
							class="df aic jcc popup-inside"><img src="upload/main/popup/desktop-esube.webp"
								class="popup-img dn db-lg" /><img src="upload/main/popup/mobil-esube.webp"
								class="popup-img db dn-lg" /> </a> </div>
				</div>
	</body>
	<div class="toast jstoast"></div>
	<div class="scrollup pf r-0 mb-5 mx-3 aic jcc ra-circle">
		<i class="fa fa-angle-up dn"></i>
		<i class="bi bi-chevron-up"></i>
	</div>
	<div class="dn">
		<div class="spinner-border loading t-s vam mr-2"></div>
	</div>

</html>