<!DOCTYPE HTML>
<html lang="tr">
<%- include("layouts/head") %>

  <body>
    <%- include("layouts/header") %>
      <div class="main middle"> <input type="hidden" class="kategorisi dn" value="6" />
        <div class="container-lg pt-3 pt-lg-4 pb-4">
          <div class="col-12 f-08">
            <div class="breadcrumb pb-2--"> <a href="" class="breadcrumb-item"> <i class="bi bi-house">
                </i>
              </a> <a href="hakkimizda" class="breadcrumb-item">Hakkımızda</a>
              <a class="breadcrumb-item tdn ">Yasal Uyarılar</a>
            </div>
          </div>
          <div class="row">
            <div class="sidebar usn h-100 lsn dn db-lg pr-4">
              <div class="sidebar-bottom f-12 fw-700 pt-1 pb-3"> <a href="<%= site %>/register"
                  class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-0 bs2">
                  <span>Yatırım Hesabı <br>Açın</span>
                  <img src="upload/main/sidebar_woman.png" class="ml-2" />
                </a> <a href="bize-ulasin" class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-2 bs2">
                  <span>Uzmanlarımıza <br>Danışın</span> <img src="upload/main/sidebar_man.png" class="ml-2" />
                </a>
              </div>
            </div>
            <div class="col-12 col-lg pt-0">
              <article class="fix" alt="yasal-uyarilar">
                <h1 class="fw-700 z1 pb-1 mb-0">Yasal Uyarılar</h1> <img src="upload/images/pages/yasal-uyarilar.webp"
                  class="featured-image fr mb-4 ml-3 main-img img-fluid fix col-5 col-lg-4" alt="article-image" />
                <h2 class="altbaslik fw-400 db f-15 p-0 mb-0 mb-lg-2 pb-1">ve Gerekli Bilgiler</h2>
                <section class="yazi ">
                  <div class="body">
                    <ol start="1" type="1">
                      <li>Ücretlendirme ve Masraf Tablosu <a
                          href="upload/files/dosyalar/yasal-uyarilar/ucretlendirme_ve_masraf_tablosu_26032024-1.pdf"
                          target="_blank" rel="noopener"
                          data-mce-href="upload/files/dosyalar/yasal-uyarilar/ucretlendirme_ve_masraf_tablosu_26032024-1.pdf">için
                          tıklayınız</a>.</li>
                      <li>Acil ve Beklenmedik Durum İş Sürekliliği Planı <a
                          href="upload/files/dosya/pr-005-acil-ve-beklenmedik-durum-is-surekliligi-plani.pdf"
                          target="_blank" rel="noopener"
                          data-mce-href="upload/files/dosya/pr-005-acil-ve-beklenmedik-durum-is-surekliligi-plani.pdf">için
                          tıklayınız.&nbsp;</a></li>
                      <li>Pay Piyasası Pazar Yapılanması Hakkında Duyuru&nbsp;<a
                          href="upload/files/dosyalar/yasal-uyarilar/pay-piyasasinda-pazar-yapilanmasi-hakkinda-duyuru--pdf--pay-piyasasi-pazar-yapilanmasi-2020-5-8.pdf"
                          target="_blank" rel="noopener"
                          data-mce-href="upload/files/dosyalar/yasal-uyarilar/pay-piyasasinda-pazar-yapilanmasi-hakkinda-duyuru--pdf--pay-piyasasi-pazar-yapilanmasi-2020-5-8.pdf">için
                          tıklayınız.</a>&nbsp;</li>
                      <li>2023 Yılında Devredilecek Hesaplar&nbsp;<a
                          href="upload/files/dosyalar/yasal-uyarilar/2023-ytm.pdf" target="_blank" rel="noopener"
                          data-mce-href="upload/files/dosyalar/yasal-uyarilar/2023-ytm.pdf">için
                          tıklayınız.&nbsp;</a></li>
                      <li>2019 - 2022 Yılında Devredilecek Hesaplar&nbsp;<a
                          href="upload/files/dosyalar/yasal-uyarilar/2019-2022-ytm.pdf" target="_blank" rel="noopener"
                          data-mce-href="upload/files/dosyalar/yasal-uyarilar/2019-2022-ytm.pdf">için
                          tıklayınız.&nbsp;</a></li>
                      <li>Web Sitesi Asgari Unsurları için <a
                          href="upload/files/dosyalar/web-sitesi-asgari-unsurlari_07-04-2024.pdf"
                          data-mce-href="upload/files/dosyalar/web-sitesi-asgari-unsurlari_07-04-2024.pdf">tıklayınız</a>.
                      </li>
                      <li><a href="upload/files/dosyalar/yasal-uyarilar/guvenlik-icin-pdf.pdf" target="_blank"
                          rel="noopener"
                          data-mce-href="upload/files/dosyalar/yasal-uyarilar/guvenlik-icin-pdf.pdf">Güvenliğiniz
                          için.</a></li>
                      <li>Çerez Politikası <a href="upload/files/dosyalar/yasal-uyarilar/cerez-politikasi-1.pdf"
                          target="_blank" rel="noopener"
                          data-mce-href="upload/files/dosyalar/yasal-uyarilar/cerez-politikasi-1.pdf">için
                          tıklayınız.</a></li>
                      <li>&nbsp;Kişisel Verilerin İşlenmesi Aydınlatma Bildirimi <a
                          href="upload/files/dosyalar/yasal-uyarilar/kisisel_verilerin_korunmasi.pdf" target="_blank"
                          rel="noopener"
                          data-mce-href="upload/files/dosyalar/yasal-uyarilar/kisisel_verilerin_korunmasi.pdf">için
                          tıklayınız</a>.&nbsp;</li>
                      <li>Profesyonel Müşterilerin Yararlanamayacakları Mevzuat Hükümleri&nbsp;<a
                          href="upload/files/dosyalar/yasal-uyarilar/pro-profesyonel-musterilerin-yararlanamayacaklari-mevzuat-hukumleri.pdf"
                          target="_blank" rel="noopener"
                          data-mce-href="upload/files/dosyalar/yasal-uyarilar/pro-profesyonel-musterilerin-yararlanamayacaklari-mevzuat-hukumleri.pdf">için
                          tıklayınız. &nbsp;&nbsp;</a><u></u></li>
                      <li>Yatırımcı Tazmin Merkezi Pay Satış Duyurusu Hakkında&nbsp;<a
                          href="upload/files/dosyalar/yasal-uyarilar/ytm_pay_satis_duyurusu_11122017.pdf"
                          target="_blank" rel="noopener"
                          data-mce-href="upload/files/dosyalar/yasal-uyarilar/ytm_pay_satis_duyurusu_11122017.pdf">için
                          tıklayınız.</a>&nbsp;&nbsp;</li>
                      <li>MKK e-CAS Uygulaması Yatırımcı Bilgilendirme Duyurusu <a
                          href="upload/files/dosyalar/yasal-uyarilar/cas-mkk-e-cas-uygulamasi-yatirimci-bilgilendirme-duyurusu--pdf.pdf"
                          target="_blank" rel="noopener"
                          data-mce-href="upload/files/dosyalar/yasal-uyarilar/cas-mkk-e-cas-uygulamasi-yatirimci-bilgilendirme-duyurusu--pdf.pdf">için
                          tıklayınız.</a> &nbsp;<u></u></li>
                      <li>Yatırımcı Bazında Tedbir Düzenlemesi Hakkında Duyuru <a
                          href="upload/files/dosyalar/yasal-uyarilar/ek5-635118254441903285-22072013--musterilerimizin-dikkatine-yatirimci-bazinda-tedbir-duzenlemesi-hakkinda-duyuru.pdf"
                          target="_blank" rel="noopener"
                          data-mce-href="upload/files/dosyalar/yasal-uyarilar/ek5-635118254441903285-22072013--musterilerimizin-dikkatine-yatirimci-bazinda-tedbir-duzenlemesi-hakkinda-duyuru.pdf">için
                          tıklayınız.&nbsp;</a></li>
                      <li>5549 sayılı Suç Gelirlerinin Aklanmasının Önlenmesi Hakkında Kanunda Yer
                        Alan Bildirim Zorunluluğu&nbsp;<a
                          href="upload/files/dosyalar/yasal-uyarilar/31102008-musterilerin-18-10-2006-tarihinde-resmi-gazete-de-yayimlanan-5549-sayili-suc-gelirlerinin-aklanmasinin-onlenmesi-hakkin.pdf"
                          target="_blank" rel="noopener"
                          data-mce-href="upload/files/dosyalar/yasal-uyarilar/31102008-musterilerin-18-10-2006-tarihinde-resmi-gazete-de-yayimlanan-5549-sayili-suc-gelirlerinin-aklanmasinin-onlenmesi-hakkin.pdf">için
                          tıklayınız.</a>&nbsp;</li>
                      <li>Sermaye Piyasası Kurulu'nun 06.12.2006 tarih ve 51/1462 sayılı kararı
                        uyarınca yapılması zorunlu duyuru (06/12/2006)&nbsp;<a
                          href="upload/files/dosyalar/yasal-uyarilar/06122006-sermaye-piyasasi-kurulu-nun-06-12-2006-tarih-ve-511462-sayili-karari-uyarinca-yapilmasi-zorunlu-duyuru-06122006.pdf"
                          target="_blank" rel="noopener"
                          data-mce-href="upload/files/dosyalar/yasal-uyarilar/06122006-sermaye-piyasasi-kurulu-nun-06-12-2006-tarih-ve-511462-sayili-karari-uyarinca-yapilmasi-zorunlu-duyuru-06122006.pdf">için
                          tıklayınız.</a>&nbsp;</li>
                    </ol>
                  </div>
                </section>
                <section class="yazi ">
                  <div class="body">
                    <p><strong>Yatırımcı Tazmin Merkezine (YTM) Zamanaşımı Nedeni İle Devredilecek
                        Hesaplar</strong>&nbsp;<a class="btn btn-primary btn-sm"
                        href="zaman-asimi-olan-musteriler-listesi"
                        data-mce-href="zaman-asimi-olan-musteriler-listesi">Görmek İçin
                        Tıklayın&nbsp;﻿</a></p>
                  </div>
                </section>
                <a href="<%= site %>/register"
                  class="btn btn-p col-lg-a col-12 hesap-ac musteri-ol btn tc dib mx-a mt-4 ra-1 px-5 py-2">
                  Şimdi Hesap Açın <i class="bi bi-hand-index-thumb pl-1 "></i> </a>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="print-info dn">yasal-uyarilar</div>

      <%- include("layouts/footer") %>

        <div class="popup_main esube-popup-container overlay oh pf p-4 px-md-5 py-lg-5 closen dn">
          <div class="overlay-blur pa"></div>
          <div class="popup_main_container container-lg" alt="0"> <b class="closex pa"></b> <a href="<%= site %>/login"
              target="_blank" class="df aic jcc popup-inside"><img src="upload/main/popup/desktop-esube.webp"
                class="popup-img dn db-lg" /><img src="upload/main/popup/mobil-esube.webp" class="popup-img db dn-lg" />
            </a> </div>
        </div>
  </body>
  <div class="toast jstoast"></div>
  <div class="scrollup pf r-0 mb-5 mx-3 aic jcc ra-circle">
    <i class="fa fa-angle-up dn"></i>
    <i class="bi bi-chevron-up"></i>
  </div>
  <div class="dn">
    <div class="spinner-border loading t-s vam mr-2"></div>
  </div>

</html>