<!DOCTYPE HTML>
<html lang="tr">
<%- include("layouts/head") %>

  <body>
    <%- include("layouts/header") %>
      <div class="main middle"> <input type="hidden" class="kategorisi dn" value="1" />
        <div class="container-lg pt-3 pt-lg-4 pb-4">
          <div class="col-12 f-08">
            <div class="breadcrumb pb-2--"> <a href="" class="breadcrumb-item"> <i class="bi bi-house">
                </i>
              </a> <a href="genel" class="breadcrumb-item">Integral Yatırım</a>
              <a class="breadcrumb-item tdn ">Yatırım Merkezlerimiz</a>
            </div>
          </div>
          <div class="row">
            <div class="sidebar usn h-100 lsn dn db-lg pr-4">
              <div class="sidebar-bottom f-12 fw-700 pt-1 pb-3"> <a href="<%= site %>/register"
                  class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-0 bs2">
                  <span>Yatırım Hesabı <br>Açın</span>
                  <img src="upload/main/sidebar_woman.png" class="ml-2" />
                </a> <a href="bize-ulasin" class="right-v-line bg-sdbr tdn df aic jcsb p-3 py-3 ra-1 mt-2 bs2">
                  <span>Uzmanlarımıza <br>Danışın</span> <img src="upload/main/sidebar_man.png" class="ml-2" />
                </a> </div>
            </div>
            <div class="col-12 col-lg pt-0">
              <article class="fix" alt="yatirim-merkezlerimiz">
                <h1 class="fw-700 z1 mb-2 pb-1 mb-lg-3 pb-lg-3">Yatırım Merkezlerimiz</h1>
                <section class="yazi ">
                  <div class="body">
                    <p>Yatırımcılarımızın Integral Yatırım Menkul Değerler A.Ş.'nin yatırım merkezleri
                      hakkındaki adres bilgilerine telefon numarası bilgilerine ya da email adresi
                      bilgilerine bu sayfa üzerinden ulaşması mümkündür.</p>
                  </div>
                </section>
                <div class="container-lg py-5 t-bulls cb">
                  <div class="select mb-2 cp">
                    <h2 class="sube-list"> Şubelerimizi Görüntüleyin</h2>
                    <div class="body p-0 ra-1 bs2 w-100 w-md-50 b bg-fff db" style="display:none--;">
                      <div class="px-2 pt-2"> <input type="text" class="yatirim_merkezi_ara ra-1 w-100 pl-2 py-2 f-1"
                          placeholder="Yatırım Merkezi Ara" /> </div>
                    </div>
                  </div>
                  <div class="cb my-0"></div>
                  <div class="row feed_yatirim_merkezi">
                    <div class="col-12 mb-5 pb-3"> <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10019.767813977922!2d29.004295171545213!3d41.075323080680256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7e2006bee5f%3A0x6da9475fe8b26a42!2zQnVsbHMgWWF0xLFyxLFtIE1lbmt1bCBEZcSfZXJsZXIgQS7Fni4!5e0!3m2!1str!2str!4v1722440722780!5m2!1str!2str"
                        class="ra-1 bs3 mt-3 w-100 fr harita js_nest"
                        style="border:0;min-height:17.3rem;-webkit-filter: grayscale(100%);filter: grayscale(50%);"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>
                    <div class="px-3 pt-1 mb-3 tc " style="width:15rem;"> <img src="upload/main/default.png"
                        class="resim ra-1 w-100 dn db-md js_nest" />
                    </div>
                    <div class="col-12 col-md mb-3 js_nest_container">
                      <h2 class="baslik f-16 fw-700 js_nest">İstanbul Levent Genel Müdürlük</h2>
                      <ul class="lsn f-12 fw-300">
                        <li class="df mb-2"> <i class="bi bi-pin-map t-p tc fa-2x vam pr-3 pl-1"></i>
                          <div class="col df aic adres js_nest ">Büyükdere Cad. No 173, 1.
                            Levent
                            Plaza, B Blok, Kat: 5, Levent / İstanbul</div>
                        </li>
                      </ul>
                    </div>
                    <div class="cb"></div>
                  </div>
                </div>
                <a href="<%= site %>/register"
                  class="btn btn-p col-lg-a col-12 hesap-ac musteri-ol btn tc dib mx-a mt-4 ra-1 px-5 py-2">
                  Şimdi Hesap Açın <i class="bi bi-hand-index-thumb pl-1 "></i> </a>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="print-info dn">yatirim-merkezlerimiz</div>

      <%- include("layouts/footer") %>

        <div class="popup_main esube-popup-container overlay oh pf p-4 px-md-5 py-lg-5 closen dn">
          <div class="overlay-blur pa"></div>
          <div class="popup_main_container container-lg" alt="0"> <b class="closex pa"></b> <a href="<%= site %>/login"
              target="_blank" class="df aic jcc popup-inside"><img src="upload/main/popup/desktop-esube.webp"
                class="popup-img dn db-lg" /><img src="upload/main/popup/mobil-esube.webp" class="popup-img db dn-lg" />
            </a> </div>
        </div>
  </body>
  <div class="toast jstoast"></div>
  <div class="scrollup pf r-0 mb-5 mx-3 aic jcc ra-circle">
    <i class="fa fa-angle-up dn"></i>
    <i class="bi bi-chevron-up"></i>
  </div>
  <div class="dn">
    <div class="spinner-border loading t-s vam mr-2"></div>
  </div>

</html>